<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- csrf 토큰을 비동기통신으로 넘기기 위한 설정 -->
<meta th:name="_csrf_header" th:content="${_csrf.headerName}">
<meta th:name="_csrf" th:content="${_csrf.token}">

<th:block th:with="pageName='productView'"></th:block>      

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
	<style>
	.table > th {
		width: 25%;
	}
	
	.ck.ck-editor {
		width: 600px;
		max-width: 650px;
	}

	.ck-editor__editable {
		height: 50vh;
	}
	
	.editor img {
		max-width: 650px;
		height: auto;
	}
	
	/* 서브메뉴바 */
	.sub-menu1 {
	  background-color: #f0f0f0;
	  /* padding: 1px; */
	  margin-top: 15px;
	}
	
	.sub-menu1 ul {
	  list-style: none;
	  padding: 10px;
	  display: flex; /* Flexbox 사용 */
	  justify-content: space-around; /* 각 항목을 가능한 넓게 펼치기 */
	}
	
	.sub-menu1 li {
	  font-weight: bold;
	}
	
	.sub-menu1 a {
	  flex: 1; /* 너비를 같게 설정 */
	  text-align: center;
	  padding: 1px; /* 내부 여백 설정 */
	  text-decoration: none; /* 링크 밑줄 제거 */
	  color: #333; /* 링크 텍스트 색상 설정 */
	}
	
	.sub-menu1 a:last-child {
	  border-right: none; /* 마지막 항목의 구분선 제거 */
	}
	
	/* 페이지에 맞게 메뉴바 text bold 활성화 */
	.sub-menu1 a.active-menu {
	    font-weight: bold;
	    text-decoration: underline;
	}
	</style>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
 
</th:block>
<!-- view.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
	 
	<!-- Bootstrap JS 및 jQuery -->
	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</th:block>

<!-- Content -->

<div layout:fragment="content">
<form>

<div class="container" style="width: 80%">

		<div class="row"><h1 class="page-header" style="text-align: center; margin-bottom: 50px;" th:text="${products.no}"></h1>
			<input type="hidden" value="${products.no}" id="productNo">
		</div>
		<div class="row" style="float: left; text-align: center; width:35%;">
			<img th:src="@{/static/upload/product/} + ${products.image}" style="width: 500px; height: 500px; overflow: hidden; object-fit: cover;">
		</div>

		<div class="row productInfo" style="width: 40%;" >
			<div class="form-group" style="text-align: center;">
				<h3 class="page-header" style="text-align: left;" th:text="${products.name}"></h3>
			</div>
			<div class="form-group" style="text-align: left;">
				<label>가격 : </label><span>&nbsp; <fmt:formatNumber th:text="${products.price}" type="number"/></span><span>&nbsp;원</span>
				<input type="hidden" value="${products.price}" id="price">
			</div>
			<div class="form-group" style="text-align: left;">
				<label>배송비 : </label><span>&nbsp;2500원</span>
				<p>도서산간지역 배송비 5000원 / 3만원 이상 결제시 무료배송</p>
			</div>
			
			<!-- 
			<div class="form-group" style="text-align: left;">
				<label>적립금 : </label><span><fmt:parseNumber var="test" value="${productInfo.price / 100}" integerOnly="true"/> ${test}&nbsp;원</span>
			</div>
			 -->
			 
			 <div class="form-horizontal" style="text-align: left;">
				    <label>색상 : </label>
				    <select id="selectedColor" class="form-control opt_select" name="selectedColor">
				    	<option value="" selected>--- 선택 ---</option>
				        <option value="yellow">yellow</option>
				        <option value="green">green</option>
				        <option value="orange">orange</option>
				    </select>
			</div>

			<div class="form-horizontal" style="text-align: left;">
				    <label>사이즈 : </label>
				    <select id="selectedSize" class="form-control opt_select" name="selectedSize">
				    	<option value="" selected>--- 선택 ---</option>
				        <option value="F">F</option>
				        <option value="S">S</option>
				        <option value="M">M</option>
				        <option value="L">L</option>
				    </select>
				</div>
		
			<div class="form-horizontal" style="text-align: left;">
				    <label for="select_count">구매수량 : </label>
				    <input type="number" class="form-control" id="orderQuantity" name="orderQuantity" min="1" value="1">
			</div>
			<hr>
			<div class="row">
				<div class="selected_option" style="text-align: right;"></div>
				<div style="text-align: center;">
					<button id="btnOrder" class="btn btn-default" >주문하기</button>
					<button id="btnCart" class="btn btn-default btn-cart">장바구니</button>
	  			</div>
			</div>		
			<hr>	
		</div>
	</div>
</form>	

	
		<br><br><br><br><br><br><br>
		
		<!-- With this -->
		<div class="sub-menu1">
		    <ul>
		        <li><a href="#">상품상세</a></li>
		        <li><a href="#">리뷰</a></li>
		        <li><a href="#">상품문의</a></li>
		    </ul>
		</div>

<!-- 장바구니, 주문하기 버튼 관련 함수-->
<script th:inline="javascript"> 
	<!-- csrf 토큰을 JavaScript 변수로 저장 -->
	var csrfToken = [[${_csrf.token}]];
	var csrfHeader = [[${_csrf.headerName}]];

	var loginMember = [[${loginMember}]];
	var product = [[${products}]];
	var selectedSize = document.getElementById("selectedSize");
	var selectedColor = document.getElementById("selectedColor");
	
	// 장바구니 버튼 
    $('#btnCart').on('click', (event) => {
    	event.preventDefault(); // 버튼의 기본 동작 중지 
		
		var productNo = product.no; // 상품 번호
		var quantity = document.getElementById("orderQuantity").value; // 주문 수량 저장
		var color = selectedColor.options[selectedColor.selectedIndex].value; // 색상 값 저장
		var size = selectedSize.options[selectedSize.selectedIndex].value; // 사이즈 값 저장
		
        // 1. 장바구니 버튼 클릭 시, 로그인 여부 체크 
        if(loginMember != null){        	
        	if(size == "" || color == ""){
        	 	// 2. 옵션[색상/사이즈] 선택 여부 체크
        		alert('옵션을 선택해 주세요');
        	} else  {
        		// 3. 장바구니 테이블(CART)에 insert 작업
        		var cart = {
       				productNo,
		        	quantity,				        
		        	color,
		        	size
        		};
        		$.ajax({
    				url: '/myPage/cart/add', // API 엔드포인트 
   		         	type: 'POST',
		            contentType: 'application/json;charset=UTF-8',
		            data: JSON.stringify(cart), 
		            dataType: 'json', // 응답 데이터 형식
    		        beforeSend: function(xhr) {
		                // 요청을 보내기 전, CSRF 토큰을 헤더에 설정
    		           xhr.setRequestHeader(csrfHeader, csrfToken);
		            },
			        success: function (obj) {
			            // 서버에서 반환한 JSON 데이터 처리
			           if (obj.message === "성공") {
				           // 4. 장바구니 추가 성공 시 메세지 & 장바구니 페이지 이동
				           if (confirm('장바구니에 상품을 담았습니다. 장바구니로 이동하시겠습니까?')) {
			                   window.location.href = '/myPage/cart';
			               }   
			           } else {
			          	  // 4. 장바구니 추가 실패 시 메세지
			               alert("제품을 장바구니에 추가하는 도중 오류가 발생했습니다.");
			           };
			           
			        },
			        error: function (error) {
			            console.error('장바구니 작업 중 오류가 발생하였습니다 :', error);
			        },
    			}); 
        		
        	}     	 
        } else {
			if (confirm('로그인이 필요한 서비스입니다. 로그인 하시겠습니까?')) {
			       window.location.href = '/login';
			} 
        }
    });
	
	
 	// 주문하기 버튼
    $('#btnOrder').on('click', (event) => {
        event.preventDefault(); 
        
        var productNo = product.no; // 상품 번호
		var quantity = document.getElementById("orderQuantity").value; // 주문 수량 저장
		var color = selectedColor.options[selectedColor.selectedIndex].value; // 색상 값 저장
		var size = selectedSize.options[selectedSize.selectedIndex].value; // 사이즈 값 저장
		var detailNo = 1; // 제품 디테일 번호 임의로 저장
        
        
     // 1. 주문하기 버튼 클릭 시, 로그인 여부 체크 
        if(loginMember != null){        	
        	if(size == "" || color == ""){
        	 	// 2. 옵션[색상/사이즈] 선택 여부 체크
        		alert('옵션을 선택해 주세요');
        	} else  {
        		// 3. 결제페이지로 전달        
        		alert('주문자 번호: ' + loginMember.no + ', 상품번호: '+ productNo + ', 수량 : ' + quantity + ', detailNo : ' + detailNo);
        		
        	}     	 
        } else {
			if (confirm('로그인이 필요한 서비스입니다. 로그인 하시겠습니까?')) {
			       window.location.href = '/login';
			} 
        }
    });
</script>

 	
<!-- CKEditor  -->
<script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
<script>		
ClassicEditor
.create(document.querySelector('.editor'))
.then(editor => {
	console.log('Editor was initialized');
	
	
})
.catch(error => {
	console.error(error);
});
</script>

<!-- 카테고리별로 해당 목록으로 이동  -->
<script>
		function redirectToBoard(type){
			window.location.href = '/products/' + category;
		}
		
		// 모달 창 
		var myModal = document.getElementById('myModal')
		var myInput = document.getElementById('myInput')

		myModal.addEventListener('shown.bs.modal', function () {
		  myInput.focus()
		});
</script>
	
</div>
</html>