<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block th:with="pageName='/board/notice'"></th:block>      
<!-- notice.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</th:block>
<!-- notice.html 고유 스크립트 추가 -->
<th:block layout:fragment="script"></th:block>

<!-- Content -->
<div layout:fragment="content">
  <div class="table-div">
	  <table class="table table table-hover pull-right">
	  	<form class="container" action="/board/notice" method="GET">
		  <thead>
		    <tr class="border-bottom" >
		      <th scope="col" colspan="2" class="th-custom-style" style="border-bottom-width: 3px; 
				  border-bottom-color: #082f1c;
				  color: #082f1c;">공지사항
				<th:block th:if="${loginMember != null && loginMember.id == 'admin'}">
			  	<button class="btn btn-sm btn-outline-secondary" type="button" onclick="redirectToWrite('notice')">글쓰기</button>
			  	</th:block>
			  </th>
			  <!-- 검색 바 -->
			   <td style="padding:8px 2px 8px 8px; border-bottom-width: 3px; 
				  border-bottom-color: #082f1c;
				  color: #082f1c;">
				   <select class="form-control btn-sm" name="searchType" >
	                     <option value=" ">선택</option>
	                     <option value="writer">작성자</option>
	                     <option value="title">제목</option>
	                     <option value="content">내용</option>
	               </select>
               </td>
               <td style="padding:8px 2px; text-align: left; border-bottom-width: 3px; 
				  border-bottom-color: #082f1c;
				  color: #082f1c;">
               	<input type="text" class="form-control btn-sm" placeholder="검색어 입력" name="keyWord" maxlength="100">
               </td>
               <td style="padding:8px 2px; border-bottom-width: 3px; 
				  border-bottom-color: #082f1c;
				  color: #082f1c;">
				  <button type="submit" class="btn btn-sm-search btn-search">검색</button>
			  </td>
		    </tr>
	 	  </thead>
	   </form>
		  
		  <tbody>
		  	    <tr style="text-align: center;">
					<th>번호</th>
					<th style="width:55%;">제목</th>
					<th>작성자</th>
					<th>작성일</th>
					<th style="width:10%;">조회</th>
				</tr>
				<!-- 조회된 게시글이 없는 경우 -->
				<tr th:if="${#lists.isEmpty(boardLists)}">
			        <td colspan="5" style="text-align: center;">조회된 게시글이 없습니다.</td>
			    </tr>
			    
			    <!-- 조회된 게시글이 있는 경우 -->
				<tr th:if="${boardLists != null}" class="viewPage" style="text-align: center;" th:each="board : ${boardLists}"  th:attr="data-href=@{/board/view?no={no}(no=${board.no})}">
			        <td th:text="${board.rowNum}"></td>
			        <td th:text="${board.title}" style="text-align:left; width:55%;"></td>
			        <td th:text="${board.writerId}"></td>
			        <td th:text="${#dates.format(board.createDate, 'yyyy-MM-dd')}"></td>
			        <td th:text="${board.readCount}" style="width:10%;"></td>
			    </tr>
		  </tbody>
	  </table>
	</div>
	

				  
	<!-- Pagination -->
	<div class="table-div">
		<div id="pageBar">
		  
		    <!-- 이전 페이지로 -->
		    <a class="a-pagination-move" th:href="@{/board/notice?(searchType=${searchType},keyWord=${keyWord},page=${pageInfo.prevPage})}" th:text="'&lt;'" style="color: #082f1c;"></a>

		    <!-- 10개 페이지 목록 -->
		   
			<span th:each="pageNumber : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
			    <a class="a-pagination current-page" th:if="${pageNumber == pageInfo.currentPage}" disabled="disabled" th:text="${pageNumber}"></a>
			    <a th:if="${pageNumber >= 1}" class="a-pagination" th:unless="${pageNumber == pageInfo.currentPage}" th:href="@{/board/notice(searchType=${searchType},keyWord=${keyWord},page=${pageNumber})}" th:text="${pageNumber}"></a>
			</span>
			
		
		    <!-- 다음 페이지로 -->
		    <a class="a-pagination-move" th:href="@{/board/notice(searchType=${searchType},keyWord=${keyWord},page=${pageInfo.nextPage})}" th:text="'&gt;'" style="color: #082f1c;"></a>
		   
		</div>
	</div>

	
	
	<script>
		   // 각 행을 클릭할 때 해당 게시글 view 페이지로 이동
		    var rows = document.querySelectorAll(".viewPage");
		    rows.forEach(function(row) {
		        row.addEventListener("click", function() {
		            var href = row.getAttribute("data-href");
		            if (href) {
		                window.location.href = href;
		            }
		        });
		    });
		  
		  // write페이지로 이동 시 게시판 type값을 파라미터 전달
		  function redirectToWrite(type) {
		   window.location.href = '/board/write?type=' + type;
		  };
	</script>
</div>

</html>