<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- csrf 토큰을 비동기통신으로 넘기기 위한 설정 -->
<meta th:name="_csrf_header" th:content="${_csrf.headerName}">
<meta th:name="_csrf" th:content="${_csrf.token}">

<th:block th:with="pageName='boardView'"></th:block>      

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/view.css}" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</th:block>
<!-- view.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<!-- 이모티콘 -->
    <script src="https://kit.fontawesome.com/74362490cf.js" crossorigin="anonymous"></script>
    <!-- 날짜 형식 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<!-- Bootstrap JS 및 jQuery -->
	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</th:block>

<!-- Content -->
<div layout:fragment="content">
   <div class="table-div">
	  <table class="table table">
		  <thead>
		    <tr class="border-bottom" >
		      <th scope="col" colspan="6" class="th-custom-style" style="border-bottom-width: 3px; 
				  border-bottom-color: #082f1c;
				  color: #082f1c;">
				  <span th:if="${board.type == 'notice'}">공지사항</span>
	    		  <span th:if="${board.type == 'community'}">자유게시판</span>
				
				<th:block th:if="${board.type == 'notice' && loginMember != null && loginMember.id == 'admin'}">
				  	<a class="btn btn-sm btn-outline-secondary" type="button" th:href="@{'/board/update?no=' + ${board.no}}">수정</a>
	
				  	<!-- 게시글 삭제 시, Button trigger modal 효과 적용  -->
					<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
					  삭제
					</button>
					
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">
					       				</h5>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body text-center" style="height:100px;">
						      <i id="remember-me-icon" class="far fa-check-circle"></i>
								<br> 
							  게시글을 삭제하시겠습니까?
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-md btn-outline-secondary" data-bs-dismiss="modal">취소</button>
					        <a type="button" class="btn btn-md btn-primary" th:href="@{'/board/delete?no=' + ${board.no}}">삭제</a>
				         </div>
					    </div>
					  </div>
					</div>
				</th:block>
				
				<th:block th:if="${board.type == 'community' && loginMember != null && loginMember.no == board.writerNo}">
				   	<a class="btn btn-sm btn-outline-secondary" type="button" th:href="@{'/board/update?no=' + ${board.no}}">수정</a>
	
				  	<!-- 게시글 삭제 시, Button trigger modal 효과 적용  -->
					<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
					  삭제
					</button>
				
				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">
				       				</h5>
				        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				      </div>
				      <div class="modal-body text-center" style="height:100px;">
					      <i id="remember-me-icon" class="far fa-check-circle"></i>
							<br> 
						  게시글을 삭제하시겠습니까?
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-md btn-outline-secondary" data-bs-dismiss="modal">취소</button>
				        <a type="button" class="btn btn-md btn-primary" th:href="@{'/board/delete?no=' + ${board.no}}">삭제</a>
			         </div>
				    </div>
				  </div>
				</div>
			  </th:block>
			  </th>
		    </tr>
		  </thead>
		  
		  <tbody class="board-view">
				<tr style="text-align: center;">
					<th >제목</th>
					<td colspan="5" style="text-align: left;" th:text="${board.title}"></td>
				</tr>
				<tr style="text-align: center;">
					<th>작성자</th>
					<td style="text-align: left;" th:text="${board.writerId}"></td>
					<th>작성일</th>
					 <td style="text-align: left;"  th:text="${#dates.format(board.createDate, 'yyyy-MM-dd hh:mm')}"></td>
					<th>조회</th>
					<td style="text-align: left;" th:text="${board.readCount}"></td>
				</tr>
				<tr>
					<td colspan="6" style="padding: 30px 50px 100px 50px; border-color: white;" th:utext="${board.content}"></td>
				</tr>

				<!-- 댓글이 있는 페이지의 경우 출력 화면(자유게시판, 1:1문의게시판) -->
				<th:block th:if="${board.type == 'community' or board.type == 'qna'}">
				<tr>
					<td colspan="6" style="padding-top: 40px;">
						<div class="cont_recommendation area_btn_g">
							<div class="area_l">
							<button id="comment-btn" type="button" class="btn-custom-reply comment-btn" style="font-size: 13px;">댓글 <span class="ReplyListCount"></span></button>
							<!-- todo: 추천된 상태일 때 ico_on 추가 -->
							<button id="recommend-btn" type="button" class="btn-custom-reply recommand-btn" onclick="" style="font-size: 13px;">
							<i class="fa-regular fa-heart" style="color: #0f5132;"></i>
							좋아요 <span class="txt_num">0</span></button>
							</div>
						</div>
					</td>
				</tr>
				<tr>
				<!-- 댓글조회(비동기요청) -->
				<td style="padding:0; border-color: white;" colspan="6">
				    <div id="comment-list" class="cont_comment">
				        <div class="comment_view" id="comment_view">
 							<input type="hidden" id="boardNo" th:value="${board.no}">
				            <ul class="list_comment" id="comment-ul"></ul> 
				        </div>
				        
				        <!-- 댓글 등록  -->
				        <form id="enrollForm">
				        <!-- 댓글 입력 박스 -->
				        <div class="CommentWriter">
					      <th:block th:if="${loginMember == null}" >
					       <div class="comment_inbox" style="margin: 0px; padding-bottom: 6px;">
					       		<a class="comment_inbox_text" href="/login" >지금 가입하고 댓글에 참여해보세요!  ></a>
						   </div>
					      </th:block>
					      <th:block th:if="${loginMember != null}" >
					        <div class="comment_inbox" >
						        <strong class="blind">댓글을 입력하세요</strong>
						        <em class="comment_inbox_name" th:value="${loginMember.no}" th:text="${loginMember.id}"></em>
						        <textarea id="commentTextarea" placeholder="댓글을 남겨보세요" rows="1" class="comment_inbox_text"></textarea>
					        	<div class="comment_inbox_number"><span class="blind">현재 입력한 글자수</span>
						        	<strong class="inbox_count"></strong>
						        	<span class="inbox_total">/</span>
						        	<span class="blind">전체 입력 가능한 글자수</span>
						        	<span class="inbox_total">800</span>
					        	</div>
					        </div>
						
							<!-- 댓글 사진 첨부 및 등록 버튼 -->
					        <div class="comment_attach">
						        <div class="attach_box">
							        <label for="attach3" class="button_file"> 
							        <i class="fa-solid fa-camera"></i>
							        </label> 
							    </div> 
								<div class="register_box">
									 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
									 <input type="hidden"  th:value="${_csrf.headerName}" />
										<input type="hidden" id="boardNo" th:value="${board.no}">
									    <th:block th:if="${loginMember != null}">
										<input type="hidden" id="writerNo" th:value="${loginMember.no}"> </th:block>
									<a type="button" id="btinReplyEnroll" class="button btn_register btn-sm">등록</a>
								</div>
							</div>
						  </th:block>
						</div>
						</form>
				    </div>
				</td>
				</tr>
				</th:block>
				
				<!-- 게시판 공통 -->
				<!-- 게시판 type에 따라 해당 게시판 목록으로 이동 -->
				<tr style="text-align: center;">
					<td colspan="6" style="border-color: white;">
				       <th:block th:if="${board.type eq 'notice'}">
					        <input type="button" class="btn btn-outline-secondary" onclick="redirectToBoard('notice')" value="목록으로">
					   </th:block>
					   <th:block th:if="${board.type eq 'community'}">
					        <input type="button" class="btn btn-outline-secondary" onclick="redirectToBoard('community')" value="목록으로">
					   </th:block>
					</td>
				</tr>
		  </tbody>
	  </table>
	</div>
	
	
	<script>
	// 좋아요 버튼 클릭 이벤트 처리
	var recommendButton = document.getElementById('recommend-btn'); // 좋아요 버튼 요소 가져오기
	var heartIcon = recommendButton.querySelector('i.fa-regular.fa-heart'); // 현재 아이콘 요소 가져오기
	// var numSpan = recommendButton.querySelector('.txt_num'); // 좋아요 수를 표시하는 요소 가져오기

	recommendButton.addEventListener('click', function() {
	    // 현재 아이콘 클래스가 'fa-regular' 일 때
	    if (heartIcon.classList.contains('fa-regular')) {
	        // 아이콘 클래스를 'fa-solid'로 변경하여 하트 아이콘으로 바꿉니다.
	        heartIcon.classList.remove('fa-regular');
	        heartIcon.classList.add('fa-solid');
	        // 좋아요 수를 1 증가시킵니다.
	        // var currentCount = parseInt(numSpan.textContent, 10);
	        numSpan.textContent = (currentCount + 1).toString();
	    } else {
	        // 현재 아이콘 클래스가 'fa-solid' 일 때
	        // 아이콘 클래스를 'fa-regular'로 변경하여 비어있는 하트 아이콘으로 바꿉니다.
	        heartIcon.classList.remove('fa-solid');
	        heartIcon.classList.add('fa-regular');
	        // 좋아요 수를 1 감소시킵니다.
	       // var currentCount = parseInt(numSpan.textContent, 10);
	      //  numSpan.textContent = (currentCount - 1).toString();
	    }
	});
	</script>

	
	<!-- 게시판 타입에 따라 목록으로 이동 -->
	<script>
		function redirectToBoard(type){
			window.location.href = '/board/' + type;
		}
		
		// 모달 창 
		var myModal = document.getElementById('myModal')
		var myInput = document.getElementById('myInput')

		myModal.addEventListener('shown.bs.modal', function () {
		  myInput.focus()
		});
		
		 // textarea 엘리먼트에 id "commentTextarea"를 사용하여 참조
	    var textarea = document.getElementById('commentTextarea');

	    var handleResizeHeight = () => {
	        textarea.style.height = 'auto'; // height 초기화
	        textarea.style.height = textarea.scrollHeight + '10px';
	    };

	    // 초기 호출 및 입력 이벤트 리스너 추가
	    handleResizeHeight();
	    textarea.addEventListener('input', handleResizeHeight);
	</script>
	
	

	<!-- 댓글 조회 비동기 요청 -->
	<!-- 더보기 메뉴(수정/삭제, 신고) 토글 -->
	<script>
	// 댓글 목록 조회하는 함수
	function fetchComments() {
		var boardNo = $('#boardNo').val(); 
		console.log(boardNo);
		
	    $.ajax({
	        url: '/reply/' + boardNo, // 댓글을 가져올 API 엔드포인트 (boardNo를 동적으로 추가)
	        type: 'GET',
	        dataType: 'json', // 응답 데이터 형식
	        success: function (obj) {
	            // 서버에서 가져온 댓글 데이터를 사용하여 댓글 목록을 업데이트
	            updateCommentList(obj.replies); 
	            // 성공 시 댓글 수를 가져와 버튼에 업데이트
	            var commentCount = obj.listCount;
	            $('.ReplyListCount').text(commentCount); // 댓글 수 버튼 내 숫자 업데이트
	        },
	        error: function (error) {
	            console.error('댓글을 가져오는 중 오류 발생: ', error);
	        }
	    });
	}
	
	// 댓글 목록을 업데이트하는 함수 
	function updateCommentList(replies) {
	    var commentList = $('#comment-ul');
	    commentList.empty(); // 기존 목록을 초기화

	    // 가져온 댓글 데이터를 사용하여 목록에 추가
	    replies.forEach(function (reply) {
	        var listItem = $('<li></li>');
	        var commentPost = $('<div>').addClass('comment_post');
	        var profileImage = $('<img>').attr('src', '/images/BasicProfile.png').attr('alt', '프로필 사진').addClass('comment-img');
	        
	        //  댓글 번호는 hidden
	        var replyNo =parseInt($('<span></span>').addClass('reply-no').text(reply.no));
	        
			console.log('line 305 댓글번호 ' + replyNo); 
	       // 더보기 버튼 관련 요소 생성
	        var moreButtonContainer = $('<span/><div class="opt_more_g" style="position: absolute; top: 10px; right: 20px; border: 1px solid;"></div>');
	        var moreMenuContainer = $('<div id="more-menu-container" class="opt_container" style="top: 1343.44px; left: 1052.27px; z-index: 1; display: none;"></div>'); // 수정/삭제 메뉴 컨테이너
	        var moreMenu = $('<div class="opt_more_g open_layer"></div>');
	        var moreButton = $('<button type="button" class="btn_g_ico btn_more_menu" onclick="toggleMoreMenu(this)"><span class="ico_bbs ico_more">더보기</span></button>');
	        
	        
	  //      if(loginMember != null){
	 //       	if(loginMember.no == reply.writerNo){
			        // 수정/삭제 메뉴 아이템 생성
			        var menuItems = $('<div class="box_opt_menu comment_type"></div>');
			        var modifyMenuItem = $('<div class="menu_item"><a class="link_menu modify_comment">수정</a></div>');
			        var deleteMenuItem = $('<div class="menu_item"><a class="link_menu delete_comment">삭제</a></div>');
	        //	} else if(loginMember != null && loginMember.no != reply.writerNo){
	        		 // 신고 메뉴 아이템 생성
	    	  //      var menuItems = $('<div class="box_opt_menu comment_type"></div>');
	    	  //      var reportMenuItem = $('<div class="menu_item"><a class="link_menu report_comment">신고</a></div>');
	   //     	}		        
	//        } 
//
	        // 메뉴 아이템(수정/삭제)을 메뉴 컨테이너에 추가
	        menuItems.append(modifyMenuItem, deleteMenuItem);
	        moreMenuContainer.append(menuItems);

	        // 더보기버튼과 메뉴 컨테이너를 행에 추가
	        moreButtonContainer.append(moreButton, moreMenuContainer);
	        
	        // 댓글 작성자
	        var writerId = $('<sub></sub>').addClass('comment-writer').text(reply.writerId + ' ');
		 	
	        // 댓글 작성 날짜
		        // 1) reply.createDate 값을 JavaScript Date 객체로 파싱
		        var datedata = new Date(reply.createDate);
	
		        // 2) Moment.js를 사용하여 날짜를 원하는 형식으로 포맷
		        var formattedDate = moment(datedata).format("YY/MM/DD HH:mm");
	
		        // 3) 변경된 날짜 형식으로 createDate에 설정
		        var createDate = $('<sub> </sub>').addClass('create-date').text(formattedDate);
		   
		    // 댓글 내용    
	        var replyText = $('<p><span></span></p>').addClass('reply-text').text(reply.content);
	        var commentPost = $('</div>').addClass('comment_post');
	       
	
		     // commentPost에 replyNoInput을 추가
	     	commentPost.append(replyNo);
	        
	        // listItem에 위에서 생성한 요소들 추가
	        listItem.append(profileImage, commentPost, moreButtonContainer, writerId, createDate, replyText);

	        // commentList에 listItem 추가
	        commentList.append(listItem);
	    });
	}
	
	// 더보기 버튼 클릭 시 수정/삭제 메뉴를 토글하는 함수
	function toggleMoreMenu(buttonElement) {
	    var listItem = $(buttonElement).closest('li'); // 현재 버튼이 속한 댓글 행을 찾고,
	    var moreMenuContainer = listItem.find('.opt_container'); // 댓글 행 내의 메뉴 컨테이너를 찾음
	
	    // 메뉴를 표시하거나 숨김
	    moreMenuContainer.toggle();
	}
	
	// 페이지 로드 시 댓글을 가져오기 위해 초기 호출
	fetchComments();
	</script>
	
	<!-- 댓글 등록, 수정, 삭제 -->
	<script>
		<!-- csrf 토큰을 JavaScript 변수로 저장 -->
	    var csrfToken = '[[${_csrf.token}]]';
	    var csrfHeader = '[[${_csrf.headerName}]]';
	
	    $(document).ready(function () {
	        $('#btinReplyEnroll').click(function () {
	            var boardNo = $('#boardNo').val();
	            var writerNo = $('#writerNo').val();
	            var content = $('#commentTextarea').val();
	            
	            // 내용이 공백인지 확인
			    if (content.trim() === '') {
			        alert("내용을 입력해주세요"); // 공백이면 알림 띄우고, 
			        commentTextarea.focus(); // textarea 에 focus 준 후 함수 종료
			        return;
			    }
	            
	            // 댓글 객체 형성
	            var reply = {
	                boardNo,
	                writerNo,
	                content
	            };
	            
	            // AJAX POST 요청
	            $.ajax({
	                type: 'POST',
	                url: '/reply/enroll', // API 엔드포인트
	                contentType: 'application/json;charset=UTF-8',
	                data: JSON.stringify(reply), 
	                beforeSend: function(xhr) {
		                // 요청을 보내기 전, CSRF 토큰을 헤더에 설정
		                xhr.setRequestHeader(csrfHeader, csrfToken);
		            },
	                success: function (obj) {
	                	// 성공 시 처리할 내용
	                    console.log('댓글이 성공적으로 제출되었습니다.');
	                	let reply = obj.reply;
	                	
	                    // 댓글 데이터를 화면에 추가
	                    appendComment(reply);

	                   // 댓글 작성 후 댓글 입력창 비우기
	                    $('#commentTextarea').val('');
	                   
	                    // 댓글 제출 후 새로운 댓글 목록을 불러온다.(작성자 id, 작성일시, 프로필 등)
	                    fetchComments();  

	                   // 텍스트 영역 입력 길이를 0으로 설정
	                    handleTextareaInput();
	                },
	                error: function (error) {
	                    // 오류 시 처리할 내용
	                    console.error('댓글 제출 중 오류 발생:', error);
	                },
	            });
	        });
	    });
	    
	    
	 // 새로운 댓글을 목록에 추가하는 함수
	    function appendComment(reply) {
	        var listItem = $('<li></li>');
	        var profileImage = $('<img>').attr('src', '/images/BasicProfile.png').attr('alt', '프로필 사진').addClass('comment-img');
	        var writerId = $('<sub></sub>').addClass('comment-writer').text(reply.writerId + ' ');

	        // reply.createDate 값을 JavaScript Date 객체로 파싱
	        var datedata = new Date(reply.createDate);

	        // Moment.js를 사용하여 날짜를 원하는 형식으로 포맷
	        var formattedDate = moment(datedata).format("YY/MM/DD HH:mm");
	        console.log("formattedDate: " + formattedDate);
	        // 변경된 날짜 형식으로 createDate에 설정
	        var createDate = $('<sub> </sub>').addClass('create-date').text(formattedDate);

	        var replyText = $('<p><span></span></p>').addClass('reply-text').text(reply.content);

	        listItem.append(profileImage, writerId, createDate, replyText);
	        $('#comment-ul').append(listItem);
	    }
	 
	  // 텍스트 영역의 길이를 0으로 설정하는 함수
	    function handleTextareaInput() {
	        var inboxCountElement = document.querySelector('.inbox_count');
	        inboxCountElement.textContent = '0';
	    }
	    
	    
	 // 댓글 삭제 이벤트
		$(document).on('click', '.delete_comment', function (event) {
		    event.preventDefault(); // 기본 동작 방지

		    if(confirm("댓글을 삭제하시겠습니까?")) {
			    // 클릭한 '수정' 버튼이 속한 댓글의 내용을 가져옴
			    var listItem = $(this).closest('li'); // 클릭한 버튼의 가장 가까운 li 요소를 선택
			    var replyNo = listItem.find('.reply-no').text(); // 댓글의 reply-no를 가져옴
				
		        //parseInt(listItem.find('.reply-no').text());
			    // 댓글 삭제 요청
			    deleteComment(replyNo);
		    }
		});
		

	 // 댓글 삭제 요청을 서버로 전송
		function deleteComment(replyNo) {
		    $.ajax({
		        type: 'GET',
		        url: '/reply/delete/' + replyNo, // API 엔드포인트
		        dataType: 'json',
		        success: function (obj) {
		            // 서버에서 반환한 JSON 데이터 처리
		            if (obj.message === "성공") {
		                // 댓글 삭제 성공시 알림 메세지를 띄운 후 댓글 목록 업데이트
		               alert("댓글이 성공적으로 삭제되었습니다.");
		               fetchComments(); // 댓글 목록 업데이트
		            } else {
		                // 댓글 삭제 실패시
		                alert("댓글 삭제에 실패하였습니다.");
		            }
		        },
		        error: function (error) {
		            console.error('댓글 삭제 중 오류가 발생하였습니다 :', error);
		        },
		    });
		}
	 

	 // 댓글 수정 이벤트
		$(document).on('click', '.modify_comment', function (event) {
		    event.preventDefault(); // 기본 동작 방지

		    // 클릭한 '수정' 버튼이 속한 댓글의 내용을 가져옴
		    var listItem = $(this).closest('li'); // 클릭한 버튼의 가장 가까운 li 요소를 선택
		    var replyNo = listItem.find('.reply-no').text(); // 댓글 번호를 가져옴
		    console.log('수정클릭후 댓번호 ' + replyNo);
		    var writerId = listItem.find('.comment-writer').text(); // 댓글 작성자를 가져옴 
		    var replyText = listItem.find('.reply-text').text(); // 댓글 내용을 가져옴
		    
		    // 수정 폼 표시
            showModifyForm(listItem, writerId, replyNo, replyText);
		});
	    
		// '수정' 버튼 클릭 시 수정 폼을 표시하는 함수
		// 댓글 수정 요청을 서버로 전송
		function showModifyForm(listItem, writerId, replyNo, replyText) {
		    // 클릭한 '수정' 버튼이 속한 댓글의 내용을 가져옴
		    console.log("replyNo : " + replyNo);
		    console.log("replyText : " + replyText);
		    console.log("writerId : " + writerId);
		    
		    
		    // 댓글 내용을 수정 폼으로 교체
		    var modifyForm = $('<form id="enrollForm"></form>');
		    var commentWriter = $('<div class="CommentWriter"></div>'); 
		    var comment_inbox = $('<div class="comment_inbox"></div>');
			    var comment_inbox_blind = $('<strong class="blind">댓글을 입력하세요</strong>');
			    var comment_inbox_name = $('<em class="comment_inbox_name"></em>');
			    comment_inbox_name.text(writerId); // 댓글 작성자를 폼에 설정
			    var commentTextarea = $('<textarea id="commentTextarea" placeholder="댓글을 남겨보세요" rows="1" class="comment_inbox_text"></textarea>');
			    commentTextarea.val(replyText); // 댓글 내용을 폼에 설정
			    var comment_inbox_number = $('<div class="comment_inbox_number"><span data-v-afadf0bc="" class="blind">현재 입력한 글자수</span><strong class="inbox_count"></strong><span class="inbox_total">/</span><span class="blind">전체 입력 가능한 글자수</span><span class="inbox_total">800</span>');
			var comment_attach = $('<div class="comment_attach"></div>');
			var attach_box = $('<div class="attach_box"><label for="attach3" class="button_file"><i class="fa-solid fa-camera"></i></label></div>');
			var register_box = $('<div class="register_box"><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/><input type="hidden" th:value="${_csrf.headerName}"/><input type="hidden" id="boardNo" th:value="${board.no}"><input type="hidden" id="writerNo" value="${loginMember.id}"><a type="button" id="btinReplyModifyCancel" class="btn_cancel btn-sm">취소</a><a type="button" id="btinReplyModifyEnroll" class="button btn-sm">등록</a></div>');
			
		// 수정 폼을 새로운 내용으로 교체
		   listItem.empty().append(modifyForm);
		   modifyForm.append(commentWriter);
		   commentWriter.append(comment_inbox, comment_attach);
		   comment_inbox.append(comment_inbox_blind, comment_inbox_name, commentTextarea, comment_inbox_number);
		   comment_attach.append(attach_box, register_box);
		

		// 	수정 폼 내의 등록 버튼 클릭 시 
		 var btinReplyModifyEnroll = register_box.find('#btinReplyModifyEnroll');
			 btinReplyModifyEnroll.on('click', function () {
				 
			   var modifiedContent = commentTextarea.val();
			   console.log("컨텐츠내용 : "  + modifiedContent);
				 
			   // 내용이 공백인지 확인
			    if (modifiedContent.trim() === '') {
			        alert("내용을 입력해주세요"); // 공백이면 알림 띄우고, 
			        commentTextarea.focus(); // textarea에 focus 준 후 함수 종료
			        return;
			    }
				   
		         // AJAX 통해서 수정 내용을 서버로 전송
				 $.ajax({
				        type: 'POST',
				        url: '/reply/update', // API 엔드포인트
				        data: {
				        	replyNo: replyNo,
				        	content: modifiedContent
				        },
				        contentType: 'application/json;charset=UTF-8',
				        beforeSend: function(xhr) {
			                // 요청을 보내기 전, CSRF 토큰을 헤더에 설정
			                xhr.setRequestHeader(csrfHeader, csrfToken);
			            },
				        success: function (obj) {
				            // 서버에서 반환한 JSON 데이터 처리
				            if (obj.message === "성공") {
				                // 댓글 삭제 성공시 알림 메세지를 띄운 후 댓글 목록 업데이트
				               alert("댓글이 성공적으로 수정되었습니다.");
				               fetchComments(); // 댓글 목록 업데이트
				            } else {
				                // 댓글 삭제 실패시
				                alert("댓글 수정에 실패하였습니다.");
				            }
				        },
				        error: function (error) {
				            console.error('댓글 수정 중 오류가 발생하였습니다 :', error);
				        },
				    });
		        });
			 
		 
		// 취소 버튼 클릭 시 이전 댓글을 복원
		    var btinReplyModifyCancel = register_box.find('#btinReplyModifyCancel');
		    btinReplyModifyCancel.on('click', function () {
		    	fetchComments(); // 댓글 목록 업데이트 
		       
		    });

		   
	   // 댓글 수정 시 수정 폼 내부의 textarea 최대 입력 길이, 글자수 업데이트, 높이 자동 조절 
		    var textarea = document.getElementById('commentTextarea');
		    var inboxCountElement = document.querySelector('.inbox_count');
		    var defaultHeight = textarea.style.height; // 초기 높이 저장
		    var maxLength = 800; // 최대 입력 길이를 800으로 설정

		    var handleTextareaInput = function () {
		        var textLength = textarea.value.length;   // textarea에 입력된 텍스트 길이 가져오기
		        inboxCountElement.textContent = (textLength === 0) ? '0' : textLength;  // 텍스트 길이가 0인 경우에는 0으로 표시, 그 외에는 텍스트 길이로 업데이트

		        // 텍스트 길이가 최대 입력 길이를 초과 시 maxLength가 되도록 설정
		        if (textLength > maxLength) {
		            textarea.value = textarea.value.substring(0, maxLength);
		            textLength = maxLength;
		        }
		        // 글자 수를 화면에 표시
			    inboxCountElement.textContent = textLength;
		    };

		    // 높이 자동 조절
		    textarea.addEventListener('input', function () {
		        var target = event.target;
		        target.style.height = defaultHeight; // 초기 높이로 설정
		        target.style.height = (target.scrollHeight) + 'px';
		    });

		    handleTextareaInput();
		 	
		    // 입력 이벤트 리스너 추가
		    textarea.addEventListener('input', handleTextareaInput);

		}

	</script>

	
	<script>
	// ul 요소를 가져옵니다.
	var ulElement = document.querySelector('.list_comment');

	// 모든 이미지 요소를 가져옵니다.
	var imgElements = ulElement.querySelectorAll('img');

	// ul 요소의 현재 너비를 가져옵니다.
	var ulWidth = ulElement.offsetWidth;

	// 각 이미지 요소에 대해 처리합니다.
	imgElements.forEach(function(imgElement) {
	    // 이미지의 현재 너비를 가져옵니다.
	    var imgWidth = imgElement.offsetWidth;

	    // 이미지의 너비가 ul 요소의 너비보다 크다면
	    if (imgWidth > ulWidth) {
	        // 이미지의 너비를 100%로 설정하여 확장합니다.
	        imgElement.style.width = '100%';
	    }
	});
	</script>
	
	<!-- 댓글 등록 시 textarea 최대 입력 길이, 글자수 업데이트, 높이 자동 조절  -->
	<script>
    var textarea = document.getElementById('commentTextarea');
    var inboxCountElement = document.querySelector('.inbox_count');
    var defaultHeight = textarea.style.height; // 초기 높이 저장
    var maxLength = 800; // 최대 입력 길이를 800으로 설정

    var handleTextareaInput = function () {
        var textLength = textarea.value.length;   // textarea에 입력된 텍스트 길이 가져오기
        inboxCountElement.textContent = (textLength === 0) ? '0' : textLength;  // 텍스트 길이가 0인 경우에는 0으로 표시, 그 외에는 텍스트 길이로 업데이트

        if (textLength > maxLength) {
            textarea.value = textarea.value.substring(0, maxLength);
            textLength = maxLength;
        }
        // 글자 수를 화면에 표시
	    inboxCountElement.textContent = textLength;
    };

    textarea.addEventListener('input', function () {
        var target = event.target;
        target.style.height = defaultHeight;
        target.style.height = (target.scrollHeight) + 'px';
    });

    handleTextareaInput();
 	
    // 입력 이벤트 리스너 추가
    textarea.addEventListener('input', handleTextareaInput);
</script>
	

	

</div>
</html>