<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hm.forest.member.model.mapper.MemberMapper">
	<sql id="selectMemberSql">
		SELECT NO,
			   ID,
			   PASSWORD,
			   NAME,
			   EMAIL,
			   PHONE,
			   PCODE,
			   ADDRESS1,
			   ADDRESS2,
			   CREATE_DATE,
			   UPDATE_DATE,
			   ROLE
		FROM MEMBER 
	</sql>
	
	<resultMap id="memberResultMap" type="Member" >
		<id property="no" column="NO"/>
		<result property="id" column="ID"/>
		<result property="password" column="PASSWORD"/>
		<result property="name" column="NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="pcode" column="PCODE"/>
		<result property="address1" column="ADDRESS1"/>
		<result property="address2" column="ADDRESS2"/>
		<result property="status" column="STATUS"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="updateDate" column="UPDATE_DATE"/>
		<result property="role" column="ROLE"/>
	</resultMap>

	<select id="selectCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	
	<select id="selectAll" resultMap="memberResultMap">
		<include refid="selectMemberSql"/>
		WHERE STATUS='Y'
	</select>	
	
	<select id="selectMemberById" parameterType="string" resultMap="memberResultMap">
		SELECT NO,
			   ID,
			   PASSWORD,
			   NAME,
			   EMAIL,
			   PHONE,
			   PCODE,
			   ADDRESS1,
			   ADDRESS2,
			   STATUS,
			   ROLE
		FROM MEMBER 
		WHERE ID=#{id}
	</select>
	
	<insert id="insertMember" parameterType="Member"
			useGeneratedKeys="true" keyColumn="NO" keyProperty="no">
		INSERT INTO MEMBER (
			NO,
			ID,
			PASSWORD,
			NAME,
			EMAIL,
			PHONE,
			PCODE,
			ADDRESS1,
			ADDRESS2
		) VALUES (
			MEMBER_SEQ.NEXTVAL,
			#{id},
			#{password},
			#{name},
			#{email},
			#{phone},
			#{pcode},
			#{address1},
			#{address2}			
		)
	</insert>
	
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER 
		SET 
			PASSWORD=#{password},
			PCODE=#{pcode},
			ADDRESS1=#{address1},
			ADDRESS2=#{address2},
			UPDATE_DATE=SYSDATE
		WHERE NO=#{no}
	</update>
	
	<update id="updateMemberStatus" parameterType="map">
		UPDATE MEMBER
		SET
			STATUS = #{status}
		WHERE
			NO = #{no}
	</update>
	
	<select id="selectMemberCountByStatus" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FORM MEMBER
		WHERE STATUS
	</select>
	
	<!-- 회원 수 카운드 -->
	<select id="selectmembercount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	
	<!-- 회원 목록 조회 -->
	
	<select id="getmemberlists" resultMap="memberResultMap">
	  SELECT NO, ID, PASSWORD, NAME, EMAIL, PHONE, PCODE, ADDRESS1, ADDRESS2, STATUS, CREATE_DATE, UPDATE_DATE, ROLE
	  FROM MEMBER
	  <where>
	    <!-- 모든 계정 또는 특정 계정 유형에 따라 동적으로 검색 -->
	    <if test="searchType == 'A'"> AND 1=1 </if>
	    <if test="searchType == 'Y'"> AND STATUS = 'Y' </if>
	    <if test="searchType == 'N'"> AND STATUS = 'N' </if>
	  </where>
</select>
	
	<!--  	
	<select id="getmemberlists" resultMap="memberResultMap">
		SELECT NO,
			   ID,
			   PASSWORD,
			   NAME,
			   EMAIL,
			   PHONE,
			   PCODE,
			   ADDRESS1,
			   ADDRESS2,
			   STATUS,
			   CREATE_DATE,
			   UPDATE_DATE,
			   ROLE
		FROM MEMBER 
	</select>
	-->
	
	<!-- 회원 상태값 바꾸기 -->
	<update id="updatememberstatus" parameterType="map">
		UPDATE MEMBER
		SET
			STATUS = #{status}
		WHERE
			NO = #{no}
	</update>
	
		<update id="activateMember" parameterType="map">
		UPDATE MEMBER
		SET
			STATUS = #{status}
		WHERE
			NO = #{no}
	</update>
	
</mapper>