<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
      
<!-- csrf 토큰을 비동기통신으로 넘기기 위한 설정 -->
<meta th:name="_csrf_header" th:content="${_csrf.headerName}">
<meta th:name="_csrf" th:content="${_csrf.token}">
      

<head>
  <meta charSet="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>결제 위젯</title>
  <script src="https://js.tosspayments.com/v1/payment-widget"></script>
  <style>
    #payment-button{ width:100%; padding:15px; background-color:#3065AC; color:white; border-radius:3px; font-size:16px; border:none; margin-top:10px}
	.title {margin: 0 0 4px; font-size: 24px; font-weight: 600;color: #4e5968;}
  </style>
</head>

<th:block th:with="pageName='pay'"></th:block>      
<!-- cart.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!-- ex)   <link rel="stylesheet" th:href="@{/css/page/cart.css}" >-->
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="./css/product.css">
</th:block>
<!-- cart.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!-- ex)  <script th:src="@{/js/page/cart.js}"></script>-->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</th:block>

<!-- Content -->
<div layout:fragment="content">
 
   <div class="table-div">
   		<!-- 결제할 상품 정보 -->
	    <table class="table table pull-right" style="margin: 50px 0px;" >
		  <thead>
		    <tr class="border-bottom" >
		      <th scope="col" colspan="4" class="th-custom-style" style="border-bottom-width: 3px;
				  border-bottom-color: #082f1c;
				  color: #082f1c;">주문/결제
			  </th>
			  <th scope="col" class="th-custom-style" style="border-bottom-width: 3px;
				  border-bottom-color: #082f1c; font-size: 13px;
				  color: #0f5132; text-align: right;">
			   <span style="font-weight: bold;">주문/결제</span>  > 완료
			  </th>
		    </tr>
	 	  </thead>

		  <tbody>
		  	    <tr style="text-align: center;">
		  	    	<th colspan="2" style="width:50%;">상품정보</th>
					<th>옵션</th>
					<th>수량</th>
					<th>금액</th>
				</tr>
				<!-- 주문서에 상품이 없는 경우 -->
				<th:block th:if="${#lists.isEmpty(cartLists)}">
				<tr class="tb-style-none">
			        <td colspan="7" style="text-align: center; height: 200px; vertical-align: middle;">결제할 상품이 없습니다.<br> 원하는 상품을 장바구니에 담아보세요!</td>
			    </tr>
			    </th:block>
			    <!-- 주문서에 상품이 있는 경우 -->
			    <th:block th:if="${not #lists.isEmpty(cartLists)}">
				<tr class="viewPage tb-style-none" style="text-align: center;" th:each="cart : ${cartLists}">
					<td style="width:10%;"><img th:src="@{/static/upload/product/} + ${cart.image}" style="width: 100px; height: 100px; overflow: hidden; object-fit: cover;"></td>
			        <td>
				        <div style="display: flex; position: absolute; flex-direction: column; align-items: flex-start;">
				        	<div th:text="${cart.category}" style="font-weight: bold; font-size: 13px; margin-top: 5px;"></div>
				        	<div th:text="${cart.name}" style="font-weight: bold; font-size: 15px; margin-top: 5px;"></div>
				        	<div>			        	
				        		<a th:text="'판매가 : ' + ${cart.price} + '원 '" style="font-weight: bold; font-size: 12px; margin-top: 40px; margin-right: 5px;"></a>
			        		</div>
				        </div>
			        </td>
			        <td>
			        	<div th:text="${cart.color}" style="font-weight: bold; font-size: 15px;"></div>
			        	<div th:text="${cart.size}" style="font-weight: bold;  font-size: 13px;"></div>
			        </td>
			        <td>
			       		<span th:text="  ${cart.quantity} + '개  '"></span>
					    <!-- <i id="minusQuantity" class="fa-solid fa-square-minus" style="color: #c9c9c9;"></i>
					    <span th:text="  ${cart.quantity} + '개  '"></span>
					    <i id="plusQuantity" class="fa-solid fa-square-plus" style="color: #c9c9c9;"></i>
					     -->
					</td>
			        <td th:text="${cart.price} * ${cart.quantity} + '원'" ></td>
			    </tr>

		        <tr>
			    	<td colspan="7" style="height: 100px; vertical-align: middle;">
				    	<div style="display: flex; justify-content: center;">
				    	 <div style="float:left; text-align: center; font-weight: bold;">
					    	 상품 금액 
					    	 <br>
					    	 <a id="itemsPrice" th:text="0원" style="font-weight: bold; margin-top: 20px; color: #0f5132;"></a>
				    	 </div>   
				    	 <a style="display: flex; vertical-align: middle; align-items: center; margin: 0 40px; font-weight: bold;"> + </a>
				    	 <div style="float:left; text-align: center; font-weight: bold;">
					    	 배송비 
					    	 <br>
					    	 <a id="postFee" th:text="0원" style="font-weight: bold;  margin-top: 20px; color: #0f5132; "></a>
				    	 </div>
						 <a style="display: flex; vertical-align: middle; align-items: center; margin: 0 40px; font-weight: bold;"> = </a>
				    	 <div style="float:left; text-align: center; font-weight: bold;">
				    	 	 총 결제금액 
				    	 	 <br>
					    	 <a id="totalPrice" th:text="0원"  style="font-weight: bold;  margin-top: 20px;"></a>
			    	 	</div>
			    	 	
			    	 	</div>
			    	</td>
				</tr>
				</th:block>
		  </tbody>
		  
		  <thead>
		    <tr class="border-bottom"  >
		      <th scope="col" colspan="5" class="th-custom-style" style="border-bottom-width: 3px;
				  border-bottom-color: #082f1c; padding-top: 70px;
				  color: #082f1c;">배송정보
			  </th>
		    </tr>
	 	  </thead>
	 	  <tbody>
	 	 	<tr>
	 	 		<th colspan="2" > 배송지정보</th>
	 	 		<th colspan="3" > 주문자정보</th>
	 	 	</tr>
	 	 	<tr style="border-bottom-color: white;">
	 	 		<td style="padding-left: 10px;">수령인 </td>
	 	 		<td><input type="text" id="recipient" class="form-control" style="width:90%;"></input> </td>
	 	 		<td>이름 </td>
	 	 		<td colspan="2" th:text="${loginMember.name}"></td>
	 	 	</tr>
	 	 	<tr style="border-bottom-color: white;">
	 	 		<td>연락처 </td>
	 	 		<td><input type="text" id="phone" class="form-control" style="width:90%;" placeholder="연락처 입력('-'제외 11자리 입력)"></input></td>
	 	 		<td>연락처 </td>
	 	 		<td colspan="2" th:text="${loginMember.phone}"></td>
	 	 	</tr>
	 	 	<tr rowspan="2" style="border-bottom-color: white; padding-bottom: 0px; border-bottom-width: 0px;">
	 	 		<td>배송지 주소 </td>
	 	 		<td style="padding-bottom: 0px; border-bottom-width: 0px;">
	 	 		<input type="text" id="pcode" class="form-control" style="width:30%; float: left; margin-right:10px;"></input>
	 	 		<input type="button" class="btn btn-outline-secondary form-control" style="width:30%;" value="우편번호" onclick="openZipSearch();">
	 	 		</td>
	 	 		<td>이메일 </td>
	 	 		<td colspan="2" th:text="${loginMember.email}" style="padding-bottom: 0px; border-bottom-width: 0px;"></td>
	 	 	</tr>
	 	 	<tr style="border-bottom-color: white;">
	 	 		<td style="border-bottom-color: white;"></td>
	 	 		<td style="border-bottom-color: white; padding-bottom: 0px; border-bottom-width: 0px;">
	 	 		<input type="text" id="address1" class="form-control" style="width:90%;"></input>
	 	 		</td>
	 	 		<td colspan="3" rowspan="3" style="font-size: 14px; font-weight:bold; color: #0f5132;">주문자 정보로 결제관련 정보가 제공됩니다.<br>정확한 정보로 등록되어있는지 확인해주세요.</td>
	 	 	</tr>
	 	 	<tr style="border-bottom-color: white;">
	 	 		<td style="border-bottom-color: white;"></td>
	 	 		<td style="border-bottom-color: white;">
	 	 		<input type="text" id="address2" class="form-control" style="width:90%;"></input>
	 	 		</td>
	 	 		<td></td>
	 	 	</tr>
	 	 	<tr style="border-bottom-color: white; padding-bottom: 0px; border-bottom-width: 0px;">
	 	 		<td><label for="deliveryMemoOption">배송메모</label></td>
	 	 		<td style="padding-bottom: 0px; border-bottom-width: 0px;">
				<select id="deliveryMemoOption" class="form-control" name="deliveryMemoOption" style="width:90%;">
				    <option value="부재시 경비실에 맡겨주세요." selected>부재시 경비실에 맡겨주세요.</option>
				    <option value="배송 전에 미리 연락 바랍니다." >배송 전에 미리 연락 바랍니다.</option>
				    <option value="부재시 전화 주시거나 문자 남겨주세요." >부재시 전화 주시거나 문자 남겨주세요.</option>
				    <option value="직접입력" >직접 입력</option>
				</select>
	 	 		</td>
	 	 		<td colspan="3" style="padding-bottom: 0px; border-bottom-width: 0px;"></td>
	 	 	</tr>
	 	 	<tr>
	 	 		<td></td>
	 	 		<td><input type="text" id="del_memo" class="form-control" style="width:90%;"></input></td>
	 	 		<td colspan="3"></td>
	 	 	</tr>
	 	  </tbody>
	  </table>
	  
	  
	</div>
  

<!-- 결제 방법 영역-->
<div id="payment-method" style="display: flex; justify-content:center; margin: 0 180px;" ></div>
<div id="agreement"  style="display: flex; justify-content:center; margin: 0 180px;"></div> 
<button id="payment-button"  style="display: flex; justify-content:center; margin: 0 180px; width: 1000px; background-color: #0f5132;">결제하기</button>
 
<!-- 결제금액 정보 출력하는 함수 -->
<script th:inline="javascript">
	$(document).ready(function() {
		var cartLists = [[${cartLists}]];
		var totalPrice = [[${totalPrice}]]; // 최종 결제 금액
	
	    // 총 상품 가격 계산
	    var totalCartPrice = 0;
	    for (var i = 0; i < cartLists.length; i++) {
	        var cart = cartLists[i];
	        totalCartPrice += cart.price * cart.quantity;
	    }
	    // 총 배송비
		var postFee = totalCartPrice >= 30000 ? 0 : (totalCartPrice === 0 ? 0 : 2500);
		
		// 출력
		$('#itemsPrice').text(totalCartPrice + '원'); 
		$('#postFee').text(postFee + '원'); 
		$('#totalPrice').text(totalPrice + '원'); 
	});
</script>

<!-- 우편번호 입력 함수 & api -->
<script>
	function openZipSearch() {
	    new daum.Postcode({
	    	oncomplete: function(data) {     
			var addr = ''; 
			if (data.userSelectedType === 'R') { 
				addr = data.roadAddress;
			} else {
				addr = data.jibunAddress;
			}
	
			$("#pcode").val(data.zonecode);
			$("#address1").val(addr);
			$("#address2").val("");
			$("#address2").focus();
	        }
	    }).open();
	}
</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<!-- 배송메모 함수 -->
<script>
document.addEventListener("DOMContentLoaded", function() {
    // 선택 상자 엘리먼트 가져오기
    var deliveryMemoSelect = document.getElementById("deliveryMemoOption");

    // 배송 메모 옵션을 선택할 때 실행할 함수
    deliveryMemoSelect.addEventListener("change", function() {
        // 선택된 옵션 가져오기
        var selectedOption = deliveryMemoSelect.options[deliveryMemoSelect.selectedIndex].value;

        // #del_memo 엘리먼트 가져오기
        var delMemoInput = document.getElementById("del_memo");
        
        // 선택된 옵션의 값을 #del_memo에 설정
        if(selectedOption != '직접입력'){
       		delMemoInput.value = selectedOption;
        } else {
        	$("#del_memo").val("");
			$("#del_memo").focus();
        }
    });
});
</script>

<script th:inline="javascript">
<!-- csrf 토큰을 JavaScript 변수로 저장 -->
var csrfToken = [[${_csrf.token}]];
var csrfHeader = [[${_csrf.headerName}]];

	function formatNumberWithCommas(number) {
	    return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "_");
	}

	var totalPrice = [[${totalPrice}]]; // 최종 결제 금액
	var formattedPrice = formatNumberWithCommas(totalPrice);
	console.log(formattedPrice); // "55_000"
	
  const clientKey = 'test_ck_yL0qZ4G1VOmBQp0jw7v8oWb2MQYg' // 상점을 특정하는 키
  const customerKey = 'test_sk_mBZ1gQ4YVX7eRyWYWZ63l2KPoqNb' // 결제 고객을 특정하는 키
  const amount = totalPrice;// 결제 금액
  //const couponAmount =5_000  // 할인 쿠폰 금액


  /*결제위젯 영역 렌더링*/
  const paymentWidget = PaymentWidget(clientKey, customerKey) // 회원 결제
  // const paymentWidget = PaymentWidget(clientKey, PaymentWidget.ANONYMOUS) // 비회원 결제
  paymentMethods = paymentWidget.renderPaymentMethods('#payment-method', amount)
  
  /*약관 영역 렌더링*/
  const paymentAgreement = paymentWidget.renderAgreement('#agreement')
  
  
  
  
  /*결제창 열기*/
  document.querySelector("#payment-button").addEventListener("click",()=>{
	  var cartLists = [[${cartLists}]]; // 주문서 정보
	  var loginMemberName = [[${loginMember.name}]]; // 결제자 정보
	  var loginMemberEmail = [[${loginMember.email}]]; // 결제자 정보

	  // 결제 정보 넘길 것 1. totalPrice,  2. List<Cart> cartLists, 3. Delivery delivery  
	  // 결제 정보 넘길 것 1. totalPrice
	  var totalPrice = [[${totalPrice}]]; // 최종 결제 금액
	  
	  var name;
	  if (cartLists.length === 1) {
	      name = cartLists[0].name;
	  } else if (cartLists.length > 1) {
	      name = cartLists[1].name + ' 외 ' + (cartLists.length - 1) + ' 건';
	  }


	   // 결제 정보 넘길 것 2. List<Cart> cartLists, 3. Delivery delivery  
	     var cartLists = [[${cartLists}]];
	     var orderLists = []; // List<Order> orderLists
	
	     // Order 객체에 필요한 값만 지정해서 넘긴다. 
	     for (var i = 0; i < cartLists.length; i++) {
	        var cart = cartLists[i];
	        var orderItem = {
	            productNo: cart.productNo,
	            detailNo: cart.detailNo,
	            quantity: cart.quantity
	        };
	        orderLists.push(orderItem);
	     }
	   
	   // 결제 정보 넘길 것 3. Delivery delivery  
	   // Delivery 객체 생성
	    var delivery = {
	    	recipient: '', // 수령인 이름
	    	phone: '',   // 연락처
	    	pcode: '',   // 우편번호
	        address1: '',  // 주소1
	        address2: '',  // 주소2
	        memo: ''  // 배송 메모
	    };
	   
	    // 배송지 정보 수집
	    delivery.recipient = document.querySelector("#recipient").value;
	    delivery.phone = document.querySelector("#phone").value;
	    delivery.pcode = document.querySelector("#pcode").value;
	    delivery.address1 = document.querySelector("#address1").value;
	    delivery.address2 = document.querySelector("#address2").value;
	    
	    // 배송 메모 정보 수집
	    var deliveryMemoSelect = document.getElementById("deliveryMemoOption");
	    var selectedOption = deliveryMemoSelect.options[deliveryMemoSelect.selectedIndex].value;
	    if (selectedOption != '직접입력') {
	        delivery.memo = selectedOption;
	    } else {
	        delivery.memo = document.querySelector("#del_memo").value;
	    }
	   
	   console.log(totalPrice); 
	   console.log(orderLists); 
	   console.log(delivery); 
	   console.log({totalPrice, orderLists, delivery});	
	  
	   // 결제 테이블에 데이터 입력
	    if(delivery.recipient == "" || delivery.phone == "" || delivery.address1 == "" || delivery.address2 == ""){
	    	// 배송정보 중 일부가 기입되지 않은 경우 
	    	alert("배송정보를 정확히 입력해주세요");
	    } else {
	    	// 배송정보가 모두 기입된 경우
			   $.ajax({
				  	type: 'POST',
				    url: '/pay/request',
				    data: JSON.stringify({totalPrice, orderLists, delivery}),
				    contentType: 'application/json;charset=UTF-8',  // JSON 데이터를 전송하므로 content type을 설정
			        beforeSend: function(xhr) {
			            // 요청을 보내기 전, CSRF 토큰을 헤더에 설정
			            xhr.setRequestHeader(csrfHeader, csrfToken);
			        },
			        success: function(obj) {
			            // 성공적으로 처리한 경우의 동작
						// 결제 창 
					    paymentWidget.requestPayment({
					      orderId: 'AD8aZDpbzXs4EQa-UkIX6',
					      orderName: name,
					      amount: totalPrice, // 동적으로 설정한 결제 금액 사용
					      successUrl: 'http://localhost:8099/pay/request?no=' + obj.no,
					      failUrl: 'http://localhost:8099/fail',
					      customerEmail: loginMemberEmail, 
					      customerName: loginMemberName,
					      }).catch(function (error) {
					          if (error.code === 'USER_CANCEL') {
					        	  alert('결제를 취소하였습니다.');
					          // 결제 고객이 결제창을 닫았을 때 에러 처리
					          } if (error.code === 'INVALID_CARD_COMPANY') {
					            // 유효하지 않은 카드 코드에 대한 에러 처리
					        	  alert('유효하지 않은 요청입니다. 관리자에게 문의하세요.');
					          }
					     });
			        },
			        error: function(error) {
			            // 오류 발생 시 처리
			            alert('Controller 전달 실패')
			            console.error('결제 실패 Error during payment:', error);
			        }
			    });
	 	   }
  });
  
  

  /*할인 쿠폰 적용*/
  document.querySelector("#coupon").addEventListener("click", applyDiscount)
	
  function applyDiscount(e) {
    if (e.target.checked) {
      paymentMethods.updateAmount(amount - couponAmount, "쿠폰")
    } else {
      paymentMethods.updateAmount(amount)
    }
  };
</script>
</div>
</html>



