<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
  <meta charSet="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>결제 위젯</title>
  <script src="https://js.tosspayments.com/v1/payment-widget"></script>
  <style>
    #payment-button{ width:100%; padding:15px; background-color:#3065AC; color:white; border-radius:3px; font-size:16px; border:none; margin-top:10px}
	.title {margin: 0 0 4px; font-size: 24px; font-weight: 600;color: #4e5968;}
  </style>
</head>

<th:block th:with="pageName='pay'"></th:block>      
<!-- cart.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!-- ex)   <link rel="stylesheet" th:href="@{/css/page/cart.css}" >-->
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="./css/product.css">
</th:block>
<!-- cart.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!-- ex)  <script th:src="@{/js/page/cart.js}"></script>-->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</th:block>

<!-- Content -->
<div layout:fragment="content">
 
   <!-- 결제할 상품 정보 -->
   <div class="table-div">
	    <table class="table table pull-right" style="margin-top: 50px;" >
		  <thead>
		    <tr class="border-bottom" >
		      <th scope="col" colspan="4" class="th-custom-style" style="border-bottom-width: 3px;
				  border-bottom-color: #082f1c;
				  color: #082f1c;">주문/결제
			  </th>
			  <th scope="col" class="th-custom-style" style="border-bottom-width: 3px;
				  border-bottom-color: #082f1c; font-size: 13px;
				  color: #0f5132; text-align: right;">
			   <span style="font-weight: bold;">주문/결제</span>  > 완료
			  </th>
		    </tr>
	 	  </thead>

		  <tbody>
		  	    <tr style="text-align: center;">
		  	    	<th colspan="2" style="width:50%;">상품정보</th>
					<th>옵션</th>
					<th>수량</th>
					<th>금액</th>
				</tr>
				<!-- 주문서에 상품이 없는 경우 -->
				<tr th:if="${#lists.isEmpty(cartLists)}" class="tb-style-none">
			        <td colspan="5" style="text-align: center; height: 200px; vertical-align: middle;">결제할 상품이 존재하지 않습니다.</td>
			    </tr>
			    
			    <!-- 주문서에 상품이 있는 경우 -->
				<tr th:if="${cartLists != null}" class="viewPage tb-style-none" style="text-align: center;" th:each="cart : ${cartLists}"><td style="width:10%;"><img th:src="@{/static/upload/product/} + ${cart.image}" style="width: 100px; height: 100px; overflow: hidden; object-fit: cover;"></td>
			        <td>
				        <div style="display: flex; position: absolute; flex-direction: column; align-items: flex-start;">
				        	<div th:text="${cart.category}" style="font-weight: bold; font-size: 13px; margin-top: 5px;"></div>
				        	<div th:text="${cart.name}" style="font-weight: bold; font-size: 15px; margin-top: 5px;"></div>
				        	<div>			        	
				        		<a th:text="${cart.price} + '원 '" style="font-weight: bold; font-size: 12px; margin-top: 40px; margin-right: 5px;"></a>
				        	</div>
				        </div>
			        </td>
			        <td>
			        	<div th:text="${cart.color}" style="font-weight: bold; font-size: 15px;"></div>
			        	<div th:text="${cart.size}" style="font-weight: bold;  font-size: 13px;"></div>
			        </td>
			        <td>
			       		<span th:text="  ${cart.quantity} + '개  '"></span>
					    <!-- <i id="minusQuantity" class="fa-solid fa-square-minus" style="color: #c9c9c9;"></i>
					    <span th:text="  ${cart.quantity} + '개  '"></span>
					    <i id="plusQuantity" class="fa-solid fa-square-plus" style="color: #c9c9c9;"></i>
					     -->
					</td>
			        <td th:text="${cart.price} * ${cart.quantity} + '원'"></td>
			    </tr>
			    <tr th:if="${cartLists != null}" class="viewPage tb-style-none" style="text-align: center;" th:each="cart : ${cartLists}">
			    	<td colspan="4">
			    	 상품 금액  +   배송비   = 총 결제금액
			    	</td>
				</tr>
		  </tbody>
	  </table>
	</div>
  

  <!-- 결제 방법 영역-->
  <div id="payment-method"></div>
  <div id="agreement"></div> 
  <button id="payment-button">결제하기</button>


<script>
  const clientKey = 'test_ck_yL0qZ4G1VOmBQp0jw7v8oWb2MQYg' // 상점을 특정하는 키
  const customerKey = 'test_sk_mBZ1gQ4YVX7eRyWYWZ63l2KPoqNb' // 결제 고객을 특정하는 키
  const amount = 15_000 // 결제 금액
  const couponAmount = 5_000 // 할인 쿠폰 금액


  /*결제위젯 영역 렌더링*/
  const paymentWidget = PaymentWidget(clientKey, customerKey) // 회원 결제
  // const paymentWidget = PaymentWidget(clientKey, PaymentWidget.ANONYMOUS) // 비회원 결제
  paymentMethods = paymentWidget.renderPaymentMethods('#payment-method', amount)
  
  /*약관 영역 렌더링*/
  const paymentAgreement = paymentWidget.renderAgreement('#agreement')
  
  /*결제창 열기*/
  document.querySelector("#payment-button").addEventListener("click",()=>{
    paymentWidget.requestPayment({
      orderId: 'AD8aZDpbzXs4EQa-UkIX6',
      orderName: '토스 티셔츠',
      successUrl: 'http://localhost:8099/success',
      failUrl: 'http://localhost:8099/fail',
      customerEmail: 'customer123@gmail.com', 
      customerName: '김토스'
      }).catch(function (error) {
          if (error.code === 'USER_CANCEL') {
          // 결제 고객이 결제창을 닫았을 때 에러 처리
          } if (error.code === 'INVALID_CARD_COMPANY') {
            // 유효하지 않은 카드 코드에 대한 에러 처리
          }
      })  
  })
  
  

  /*할인 쿠폰 적용*/
  document.querySelector("#coupon").addEventListener("click", applyDiscount)
	
  function applyDiscount(e) {
    if (e.target.checked) {
      paymentMethods.updateAmount(amount - couponAmount, "쿠폰")
    } else {
      paymentMethods.updateAmount(amount)
    }
  }
</script>
</html>
</div>
</html>



