<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block th:with="pageName='paysv'"></th:block>      
<!-- paysv.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!-- ex)   <link rel="stylesheet" th:href="@{/css/page/event.css}" >-->
</th:block>
<!-- paysv.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!-- ex)  <script th:src="@{/js/page/event.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
	 	<div id="content-background">
	  <div class="table-div">
	  
	    <table class="table table pull-right" style="margin-top: 50px;" >
		  <thead>
		  	<tr>
		  	 <th scope="col" colspan="6" class="th-custom-style" style="border-bottom-width: 3px;
				  border-bottom-color: white; text-align: center; font-size: 30px; font-weight: bold; margin: 10px 0;
				  color: #082f1c;">주문이 정상적으로 접수되었습니다.
			  </th>
		  	</tr>		  	
		    <tr class="border-bottom" >
		      <th scope="col" colspan="6" class="th-custom-style" style="border-bottom-width: 3px;
				  border-bottom-color: #082f1c;
				  color: #082f1c;">결제 내역
			  </th>
			 </tr>
	 	  </thead>

		  <tbody>
		  	    <tr style="text-align: center;">
		  	    	<th colspan="2" style="width:50%;">상품정보</th>
					<th>옵션</th>
					<th>수량</th>
					<th>금액</th>
				</tr>
				<!-- 장바구니에 상품이 없는 경우 -->
				<tr th:if="${#lists.isEmpty(myOrderLists)}" class="tb-style-none">
			        <td colspan="6" style="text-align: center;">결제된 내역이 없습니다. <br> 1:1 문의 게시판을 이용해 주세요.</td>
			    </tr>
			    
			    <!-- 장바구니에 상품이 있는 경우 -->
				 <th:block th:if="${not #lists.isEmpty(myOrderLists)}">
				<tr class="viewPage tb-style-none" style="text-align: center;" th:each="order : ${myOrderLists}">
					<td style="width:10%;"><img th:src="@{/static/upload/product/} + ${order.image}" style="width: 100px; height: 100px; overflow: hidden; object-fit: cover;"></td>
			        <td>
				        <div style="display: flex; position: absolute; flex-direction: column; align-items: flex-start;">
				        	<div th:text="${order.category}" style="font-weight: bold; font-size: 13px; margin-top: 5px;"></div>
				        	<div th:text="${order.name}" style="font-weight: bold; font-size: 15px; margin-top: 5px;"></div>
				        	<div>			        	
				        		<a th:text="'판매가 : ' + ${order.price} + '원 '" style="font-weight: bold; font-size: 12px; margin-top: 40px; margin-right: 5px;"></a>
			        		</div>
				        </div>
			        </td>
			        <td>
			        	<div th:text="${order.color}" style="font-weight: bold; font-size: 15px;"></div>
			        	<div th:text="${order.size}" style="font-weight: bold;  font-size: 13px;"></div>
			        </td>
			        <td>
			       		<span th:text="  ${order.quantity} + '개  '"></span>
					    <!-- <i id="minusQuantity" class="fa-solid fa-square-minus" style="color: #c9c9c9;"></i>
					    <span th:text="  ${order.quantity} + '개  '"></span>
					    <i id="plusQuantity" class="fa-solid fa-square-plus" style="color: #c9c9c9;"></i>
					     -->
					</td>
			        <td th:text="${order.price} * ${order.quantity} + '원'" ></td>
			    </tr>

		        <tr>
			    	<td colspan="7" style="height: 100px; vertical-align: middle;">
				    	<div style="display: flex; justify-content: center;">
				    	 <div style="float:left; text-align: center; font-weight: bold;">
					    	 상품 금액 
					    	 <br>
					    	 <a id="itemsPrice" th:text="0원" style="font-weight: bold; margin-top: 20px; color: #0f5132;"></a>
				    	 </div>   
				    	 <a style="display: flex; vertical-align: middle; align-items: center; margin: 0 40px; font-weight: bold;"> + </a>
				    	 <div style="float:left; text-align: center; font-weight: bold;">
					    	 배송비 
					    	 <br>
					    	 <a id="postFee" th:text="0원" style="font-weight: bold;  margin-top: 20px; color: #0f5132; "></a>
				    	 </div>
						 <a style="display: flex; vertical-align: middle; align-items: center; margin: 0 40px; font-weight: bold;"> = </a>
				    	 <div style="float:left; text-align: center; font-weight: bold;">
				    	 	 총 결제금액 
				    	 	 <br>
					    	 <a id="totalPrice" th:text="0원"  style="font-weight: bold;  margin-top: 20px;"></a>
			    	 	</div>
			    	 	
			    	 	</div>
			    	</td>
				</tr>
				</th:block>
		  </tbody>
		  
		  <thead>
		    <tr class="border-bottom"  >
		      <th scope="col" colspan="5" class="th-custom-style" style="border-bottom-width: 3px;
				  border-bottom-color: #082f1c; padding-top: 70px;
				  color: #082f1c;">배송정보
			  </th>
		    </tr>
	 	  </thead>
	 	  <tbody>
	 	 	<tr>
	 	 		<th colspan="2" > 배송지정보</th>
	 	 		<th colspan="3" > 주문자정보</th>
	 	 	</tr>
	 	 	<tr style="border-bottom-color: white;">
	 	 		<td style="padding-left: 10px;">수령인 </td>
	 	 		<td th:text="${delivery.recipient}"></td>
	 	 		<td>이름 </td>
	 	 		<td colspan="2" th:text="${loginMember.name}"></td>
	 	 	</tr>
	 	 	<tr style="border-bottom-color: white;">
	 	 		<td>연락처 </td>
	 	 		<td th:text="${delivery.phone}"></td>
	 	 		<td>연락처 </td>
	 	 		<td colspan="2" th:text="${loginMember.phone}"></td>
	 	 	</tr>
	 	 	<tr rowspan="2" style="border-bottom-color: white; padding-bottom: 0px; border-bottom-width: 0px;">
	 	 		<td>배송지 주소 </td>
	 	 		<td th:text="${delivery.address1}"></td>
	 	 		<td>이메일 </td>
	 	 		<td colspan="2" th:text="${loginMember.email}" style="padding-bottom: 0px; border-bottom-width: 0px;"></td>
	 	 	</tr>
	 	 	<tr style="border-bottom-color: white;">
	 	 		<td style="border-bottom-color: white;"></td>
	 	 		<td style="border-bottom-color: white; padding-bottom: 0px; border-bottom-width: 0px;" th:text="${delivery.address2}">
	 	 		</td>
	 	 		<td colspan="3" rowspan="3" style="font-size: 14px; font-weight:bold; color: #0f5132;"></td>
	 	 	</tr>
	 	 	<tr style="border-bottom-color: white;">
	 	 		<td style="border-bottom-color: white;"></td>
	 	 		<td style="border-bottom-color: white;">
	 	 		</td>
	 	 		<td></td>
	 	 	</tr>
	 	 	<tr style="border-bottom-color: white; padding-bottom: 0px; border-bottom-width: 0px;">
	 	 		<td><label for="deliveryMemoOption">배송메모</label></td>
	 	 		<td style="padding-bottom: 0px; border-bottom-width: 0px;" th:text="${delivery.memo}">
	 	 		</td>
	 	 		</td>
	 	 		<td colspan="3" style="padding-bottom: 0px; border-bottom-width: 0px;"></td>
	 	 	</tr>
	 	 	
	 	 	<!-- 마이페이지, 메인으로 이동 -->
			<tr style="text-align: center;">
				<td colspan="6" style="border-color: white;">
			        <input type="button" class="btn btn-outline-secondary" onclick="redirectToBoard('orderList')" value="마이페이지">
			        <input type="button" class="btn btn-outline-secondary" onclick="redirectToBoard()" value="메인으로">
				</td>
			</tr>
	 	  </tbody>
	  </table>
	</div>
   	</div>
   	
<!-- 게시판 타입에 따라 목록으로 이동 -->
	<script>
		function redirectToBoard(type){
			window.location.href = '/'+  type;
		}
		
		// 모달 창 
		var myModal = document.getElementById('myModal')
		var myInput = document.getElementById('myInput')

		myModal.addEventListener('shown.bs.modal', function () {
		  myInput.focus()
		});
		
		 // textarea 엘리먼트에 id "commentTextarea"를 사용하여 참조
	    var textarea = document.getElementById('commentTextarea');

	    var handleResizeHeight = () => {
	        textarea.style.height = 'auto'; // height 초기화
	        textarea.style.height = textarea.scrollHeight + '10px';
	    };

	    // 초기 호출 및 입력 이벤트 리스너 추가
	    handleResizeHeight();
	    textarea.addEventListener('input', handleResizeHeight);
	</script>   	
   	
<!-- 결제금액 정보 출력하는 함수 -->
<script th:inline="javascript">
	$(document).ready(function() {
		var orderLists = [[${orderLists}]];
		var totalPrice = 0; // 최종 결제 금액
	
	    // 총 상품 가격 계산
	    var totalCartPrice = 0;
	    for (var i = 0; i < orderLists.length; i++) {
	        var order = orderLists[i];
	        totalCartPrice += order.price * order.quantity;
	    }
	    // 총 배송비
		var postFee = totalCartPrice >= 30000 ? 0 : (totalCartPrice === 0 ? 0 : 2500);
		
		console.log(totalCartPrice);
		console.log(postFee);
		console.log(totalPrice);
		console.log(orderLists);
		
		// 출력
		$('#itemsPrice').text(totalCartPrice + '원'); 
		$('#postFee').text(postFee + '원'); 
		$('#totalPrice').text(totalPrice + '원'); 
	});
</script>
   	
   	
</div>
</html>