<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block th:with="pageName='paysv'"></th:block>      
<!-- paysv.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!-- ex)   <link rel="stylesheet" th:href="@{/css/page/event.css}" >-->
</th:block>
<!-- paysv.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!-- ex)  <script th:src="@{/js/page/event.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
	 	<div id="content-background">
	  <div class="table-div">
	  
	    <table class="table table pull-right" style="margin-top: 50px;" >
		  <thead>
		  	<tr>
		  	 <th scope="col" colspan="6" class="th-custom-style" style="border-bottom-width: 3px;
				  border-bottom-color: white; text-align: center; font-size: 30px; font-weight: bold; margin: 10px 0;
				  color: #082f1c;">주문이 정상적으로 접수되었습니다.
			  </th>
		  	</tr>		  	
		    <tr class="border-bottom" >
		      <th scope="col" colspan="6" class="th-custom-style" style="border-bottom-width: 3px;
				  border-bottom-color: #082f1c;
				  color: #082f1c;">결제 내역
			  </th>
			 </tr>
	 	  </thead>

		  <tbody>
		  	    <tr style="text-align: center;">
		  	    	<th colspan="2" style="width:50%;">상품정보</th>
					<th>수량</th>
					<th>판매가</th>
					<th>배송비</th>
					<th>결제금액</th>
				</tr>
				<!-- 장바구니에 상품이 없는 경우 -->
				<tr th:if="${#lists.isEmpty(cartLists)}" class="tb-style-none">
			        <td colspan="6" style="text-align: center;">결제된 내역이 없습니다. <br> 1:1 문의 게시판을 이용해 주세요.</td>
			    </tr>
			    
			    <!-- 장바구니에 상품이 있는 경우 -->
				<tr th:if="${cartLists != null}" class="viewPage tb-style-none" style="text-align: center;" th:each="cart : ${cartLists}">
					<td><i id="item-selectbox" class="fa-sharp fa-regular fa-square-check fa-xl" style="color: #0f5132;" th:attr="data-cart-no=${cart.no}"></i></td>
			        <td style="width:10%;"><img th:src="@{/static/upload/product/} + ${cart.image}" style="width: 100px; height: 100px; overflow: hidden; object-fit: cover;"></td>
			        <td>
			        <div style="display: flex; position: absolute; flex-direction: column; align-items: flex-start;">
			        	<div th:text="${cart.category}" style="font-weight: bold; font-size: 13px; margin-top: 5px;"></div>
			        	<div th:text="${cart.name}" style="font-weight: bold; font-size: 15px; margin-top: 5px;"></div>
			        	<div>
			        	<a th:text="(${cart.price} * 0.8) + '원 '" style="font-weight: bold; font-size: 12px; margin-top: 20px; margin-right: 5px;"></a>
			        	<a th:text=" ${cart.price} + '원'" style="font-weight: bold; color: darkgray;  text-decoration: line-through; font-size: 13px; margin-top: 20px;"></a>
			        	</div>
			        </div>
			        </td>
			        <td>
					    <i id="reduceQuantity" class="fa-solid fa-square-minus" style="color: #c9c9c9;"></i>
					    <span th:text="  ${cart.quantity} + '개  '"></span>
					    <i id="increaseQuantity" class="fa-solid fa-square-plus" style="color: #c9c9c9;"></i>
					</td>
			        <td th:text="${cart.price} * ${cart.quantity} + '원'"></td>
			        <td>2500원</td>
			        <td>2500원</td>
			    </tr>
			    <tr style="text-align: center;">
					<td colspan="7" style="border-color: white;">
				        <a class="btn btn-outline-secondary" th:href="@{/myPage/myPage}" style="margin-right:10px;">마이페이지</a>
				        <a class="btn btn-outline-secondary" th:href="@{/}">메인으로</a>
					</td>
				</tr>
		  </tbody>
	  </table>
	</div>
   	</div>
</div>
</html>