<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block th:with="pageName='product'"></th:block>      
<!-- product.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!-- ex)   <link rel="stylesheet" th:href="@{/css/page/product.css}" >-->
    <style>
        .image-container {
            display: flex;
        }

        .image-container img {
            width: 100px; /* 이미지의 너비 조절 */
            height: 100px; /* 이미지의 높이 조절 */
            margin: 5px; /* 이미지 간 간격 조절 */
        }
    </style>
</th:block>
<!-- product.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!-- ex)  <script th:src="@{/js/page/product.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
    <div class="image-container">
        <!-- Thymeleaf 반복문을 사용하여 이미지를 출력합니다. -->
        <th:block th:each="i : ${#numbers.sequence(1, 4)}">
            <img th:src="@{'/images/productSample.png' + ${i}.jpg}" alt="이미지 ${i}" />
        </th:block>
    </div>
</div>
</html>