<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hm.forest.payment.model.mapper.PaymentMapper">
	
	
	<resultMap id="paymentResultMap" type="Payment" >
		<id property="no" column="NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="totalPrice" column="TOTAL_PRICE"/>
		<result property="paymentMethod" column="PAYMENT_METHOD"/>
		<result property="paymentDate" column="PAYMENT_DATE]"/>
		<result property="cancelDate" column="CANCEL_DATE"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<resultMap id="paymentDetailResultMap" type="Payment" extends="paymentResultMap">
		<!-- columnPrefix R_ 붙은 컬럼들은 resultMap으로 매핑작업하고, list에 담아서 Board객체의 replies에 담아서 처리한다. -->
		<collection property="orderLists" ofType="Order" javaType="arraylist" columnPrefix="O_" resultMap="orderResultMap" column="NO"/>
		<collection property="delivery" ofType="Delivery" javaType="Delivery" columnPrefix="D_" resultMap="deliveryResultMap" column="NO"/>
	</resultMap>
	
	<resultMap id="orderResultMap" type="Order">
		<id property="no" column="NO"/>
		<result property="paymentNo" column="PAYMENT_NO"/>
		<result property="productNo" column="PRODUCT_NO"/>
		<result property="detailNo" column="DETAIL_NO"/>
		<result property="quantity" column="QUANTITY"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<resultMap id="deliveryResultMap" type="Delivery">
		<id property="no" column="NO"/>
		<result property="paymentNo" column="PAYMENT_NO"/>
		<result property="recipient" column="RECIPIENT"/>
		<result property="phone" column="PHONE"/>
		<result property="pcode" column="PCODE"/>
		<result property="address1" column="ADDRESS1"/>
		<result property="address2" column="ADDRESS2"/>
		<result property="memo" column="MEMO"/>
		<result property="status" column="STATUS"/>
		<result property="deliveryDate" column="DELIVERY_DATE"/>
		<result property="returnDate" column="RETURN_DATE"/>
	</resultMap>
	
	<!-- 결제하기 클릭 시 입력되는 정보들 -->
	<!-- 1. 결제 정보 설정(입력) -->
	<insert id="insertPayment">	
	<selectKey resultType="_int" keyProperty="no" order="BEFORE">
		SELECT SEQ_PAYMENT_NO.NEXTVAL FROM DUAL
	</selectKey>
		INSERT INTO PAYMENT(
		    	NO,
		    	MEMBER_NO,
		    	TOTAL_PRICE
		) VALUES(
		    	#{no},
		    	#{memberNo},
				#{totalPrice}
		)	
	</insert>	
	
	<!-- 2. 해당 결제 건에 대한 여러 개의 주문 정보 등록  -->
	<insert id="insertOrdersByPaymentNo" useGeneratedKeys="true" keyProperty="no">
	    <!-- 사용자가 주문한 모든 상품에 대한 정보를 반복 삽입 -->
		<selectKey resultType="_int" keyProperty="no" order="BEFORE">
		SELECT SEQ_ORDER_NO.NEXTVAL FROM DUAL
		</selectKey>
	    <foreach collection="orderLists" item="order" separator=";">
	        INSERT INTO ORDERINFO (
	            NO,
	            PAYMENT_NO,
	            PRODUCT_NO,
	            DETAIL_NO,
	            QUANTITY
	        ) VALUES (
	            #{no},
	            #{paymentNo},
	            #{order.productNo},
	            #{order.detailNo},
	            #{order.quantity}
	        )
	    </foreach>
	</insert>
	
	<!-- 3. 해당 결제 건에 대한 배송 정보 등록  -->
	<insert id="insertDeliveryByPaymentNo" parameterType="Delivery">
	    <!-- 사용자가 주문한 모든 상품에 대한 정보를 반복 삽입 -->
		<selectKey resultType="_int" keyProperty="no" order="BEFORE">
		SELECT SEQ_DELIVERY_NO.NEXTVAL FROM DUAL
		</selectKey>
	        INSERT INTO DELIVERY (
	            NO,
	            PAYMENT_NO,
	            RECIPIENT,
	            PHONE,
	            PCODE,
	            ADDRESS1,
	            ADDRESS2,
	            MEMO
	        ) VALUES (
	            #{no},
	            #{paymentNo},
	            #{delivery.recipient},
	            #{delivery.phone},
	            #{delivery.pcode},
	            #{delivery.address1},
	            #{delivery.address2},
	            #{delivery.memo}
	        )
	</insert>
	
	<select id="getOrderQuantityByNo" parameterType="_int" resultType="java.util.List">
		SELECT PRODUCT_NO, 
			   DETAIL_NO, 
			   QUANTITY
		FROM ORDERINFO
		WHERE PAYMENT_NO = #{no}
	</select>



	
</mapper>