<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
      
<!-- csrf 토큰을 비동기통신으로 넘기기 위한 설정 -->
<meta th:name="_csrf_header" th:content="${_csrf.headerName}">
<meta th:name="_csrf" th:content="${_csrf.token}">

<th:block th:with="pageName='cart'"></th:block>      
<th:block layout:fragment="css">
<style>
td > i {
cursor: pointer;
}
</style>
</th:block>
<!-- cart.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!-- 이모티콘 -->
    <script src="https://kit.fontawesome.com/74362490cf.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</th:block>

<!-- Content -->
<div layout:fragment="content">
   	<div id="content-background">
	  <div class="table-div">
	    <table class="table table pull-right" style="margin-top: 50px;" >
		  <thead>
		    <tr class="border-bottom" >
		      <th scope="col" colspan="6" class="th-custom-style" style="border-bottom-width: 3px;
				  border-bottom-color: #082f1c;
				  color: #082f1c;">장바구니
			  </th>
			  <th scope="col" class="th-custom-style" style="border-bottom-width: 3px;
				  border-bottom-color: #082f1c;
				  color: #082f1c; text-align: right;"><input type="button" id="itemDeleteBtn" class="btn btn-outline-delete"  value="선택삭제"></th>
		    </tr>
	 	  </thead>

		  <tbody>
		  	    <tr style="text-align: center;">
		  	    	<th><i id="item-selectall" class="fa-sharp fa-regular fa-square-check fa-xl" style="color: #0f5132; cursor: pointer;"></i></th>
					<th colspan="2" style="width:40%;">상품정보</th>
					<th>옵션</th>
					<th>수량</th>
					<th>금액</th>
					<th>배송비</th>
				</tr>
				<!-- 장바구니에 상품이 없는 경우 -->
				<th:block th:if="${#lists.isEmpty(cartLists)}">
				<tr class="tb-style-none">
			        <td colspan="7" style="text-align: center; height: 200px; vertical-align: middle;">장바구니에 담긴 상품이 없습니다.<br> 원하는 상품을 장바구니에 담아보세요!</td>
			    </tr>
			    </th:block>
			    <!-- 장바구니에 상품이 있는 경우 -->
			    <th:block th:if="${not #lists.isEmpty(cartLists)}">
				<tr class="viewPage tb-style-none" style="text-align: center;" th:each="cart : ${cartLists}">
					<td><i id="item-selectbox" class="fa-sharp fa-regular fa-square-check fa-xl" style="color: #0f5132;" th:attr="data-cart-no=${cart.no}, data-cart-price=${cart.price}, data-cart-quantity=${cart.quantity},  data-cart-itemsPrice=${cart.price * cart.quantity}"></i></td>
			        <td style="width:10%;"><img th:src="@{/static/upload/product/} + ${cart.image}" style="width: 100px; height: 100px; overflow: hidden; object-fit: cover;"></td>
			        <td>
				        <div style="display: flex; position: absolute; flex-direction: column; align-items: flex-start;">
				        	<div th:text="${cart.category}" style="font-weight: bold; font-size: 13px; margin-top: 5px;"></div>
				        	<div th:text="${cart.name}" style="font-weight: bold; font-size: 15px; margin-top: 5px;"></div>
				        	<div>			        	
				        		<a th:text="'판매가 : ' + ${cart.price} + '원 '" style="font-weight: bold; font-size: 12px; margin-top: 40px; margin-right: 5px;"></a>
			        		</div>
				        </div>
			        </td>
			        <td>
			        	<div th:text="${cart.color}" style="font-weight: bold; font-size: 15px;"></div>
			        	<div th:text="${cart.size}" style="font-weight: bold;  font-size: 13px;"></div>
			        </td>
			        <td>
			       		<span th:text="  ${cart.quantity} + '개  '"></span>
					    <!-- <i id="minusQuantity" class="fa-solid fa-square-minus" style="color: #c9c9c9;"></i>
					    <span th:text="  ${cart.quantity} + '개  '"></span>
					    <i id="plusQuantity" class="fa-solid fa-square-plus" style="color: #c9c9c9;"></i>
					     -->
					</td>
			        <td th:text="${cart.price} * ${cart.quantity} + '원'" ></td>
			        <td>2500원</td>
			    </tr>
		        <tr>
			    	<td colspan="7" style="height: 100px; vertical-align: middle;">
				    	<div style="display: flex; justify-content: center;">
				    	 <div style="float:left; text-align: center; font-weight: bold;">
					    	 상품 금액 
					    	 <br>
					    	 <a id="itemsPrice" th:text="0원" style="font-weight: bold; margin-top: 20px; color: #0f5132;"></a>
				    	 </div>   
				    	 <a style="display: flex; vertical-align: middle; align-items: center; margin: 0 40px; font-weight: bold;"> + </a>
				    	 <div style="float:left; text-align: center; font-weight: bold;">
					    	 배송비 
					    	 <br>
					    	 <a id="postFee" th:text="0원" style="font-weight: bold;  margin-top: 20px; color: #0f5132; "></a>
				    	 </div>
						 <a style="display: flex; vertical-align: middle; align-items: center; margin: 0 40px; font-weight: bold;"> = </a>
				    	 <div style="float:left; text-align: center; font-weight: bold;">
				    	 	 총 결제금액 
				    	 	 <br>
					    	 <a id="totalPrice" th:text="0원"  style="font-weight: bold;  margin-top: 20px;"></a>
			    	 	</div>
			    	 	
			    	 	</div>
			    	 
			    	</td>
				</tr>
			    <tr style="text-align: center;">
					<td colspan="7" style="border-color: white;">
				        <input type="button" id="selectedItemOrderBtn" class="btn btn-outline-secondary"  value="선택주문" style="margin-right: 15px;">
				        <input type="button" id="itemOrderBtn" class="btn btn-outline-secondary"  value="전체주문">
					</td>
				</tr>
				</th:block>
		  </tbody>
	  </table>
	</div>
   	</div>

<!-- 체크박스 토글 (전체선택/개별선택) 및 선택항목별 결제 금액 계산 함수 -->	
<script th:inline="javascript">
$(document).ready(function() {
	 // 전체 체크박스 토글 동작
    $('#item-selectall').on('click', function() {
    	
        var checkboxes = $('[data-cart-no], #item-selectall');
        var allChecked = checkboxes.filter('.fa-solid').length === checkboxes.length;

        checkboxes.each(function() {
            if (allChecked) {
                // 모두 체크되어 있다면 체크 해제
                $(this).removeClass('fa-solid');
                $(this).addClass('fa-regular');
            } else {
                // 하나라도 체크되지 않았다면 모두 체크
                $(this).removeClass('fa-regular');
                $(this).addClass('fa-solid');
            }
        });
        
        // 체크된 값들의 상품 금액, 배송비, 총결제금액을 출력 
        // 1) 상품 금액 계산
        // 선택된 상품의 상품금액(cart.price * cart.quantity) 값을 저장할 문자열
        var selectedItemsPrice = ""; 
        
        $('[data-cart-itemsPrice]').each(function() {
            if ($(this).hasClass('fa-solid')) {
                if (selectedItemsPrice !== "") {
                	selectedItemsPrice += ",";
                }
                selectedItemsPrice += $(this).attr('data-cart-itemsPrice');
            }
        });

        console.log('selectedItemsPrice values:', selectedItemsPrice);

        // 문자열을 쉼표로 분할하여 배열로 만들기 
        var itemsPriceArray = selectedItemsPrice.split(',');

        console.log('itemsPriceArray values:', itemsPriceArray);
        
	   // 각 값을 숫자로 변환하고 합계를 계산
	   var itmesPrice = itemsPriceArray.map(function(itemPrice) {
	       return parseInt(itemPrice);
	   }).reduce(function(a, b) {
	       return a + b;
	   }, 0);
	  
	   console.log('itmesPrice:', itmesPrice);
	   
	   var totalCartPrice = itmesPrice > 0 ? itmesPrice : 0;
	   
	   // 2) 배송비 계산
	   var postFee = totalCartPrice >= 30000 ? 0 : (totalCartPrice === 0 ? 0 : 2500);
       
       // 3) 최종 결제 금액 계산
       totalPrice = totalCartPrice + postFee;
       
	  //  출력
	  $('#itemsPrice').text(totalCartPrice + '원'); 
	  $('#postFee').text(postFee + '원'); 
	  $('#totalPrice').text(totalPrice + '원'); 
	 
	  });
 

    // 개별 체크박스 클릭 시
    $('[data-cart-no]').on('click', function() {
        var cartPrice = parseFloat($(this).data('cart-price')); // 체크되는 cart.no 별 cart.price를 저장
        var cartQuantity = parseFloat($(this).data('cart-quantity')); // 체크되는 cart.no 별 cart.quantity를 저장
        var totalCartPrice = 0; // 1) 선택된 항목들의 가격 합계를 저장할 변수
        var postFee = 0; // 2) 배송비
        var totalPrice = 0; // 3) 최종 결제 금액 변수 ( 1) + 2) )
        
        if ($(this).hasClass('fa-regular')) {
            // 체크되지 않았다면 체크 아이콘으로 변경
            $(this).removeClass('fa-regular');
            $(this).addClass('fa-solid');
            
        } else {
            // 체크되어 있다면 체크 해제 아이콘으로 변경
            $(this).removeClass('fa-solid');
            $(this).addClass('fa-regular');
        }
        
        // 1) 체크된 체크박스의 상품금액 합계 계산
        $('[data-cart-no]').each(function() {
            if ($(this).hasClass('fa-solid')) {
                var selectedCartPrice = parseFloat($(this).data('cart-price')) * parseFloat($(this).data('cart-quantity'));
                totalCartPrice += selectedCartPrice;
            }
        });
        
        // 2) 배송비 계산
        var postFee = totalCartPrice >= 30000 ? 0 : (totalCartPrice === 0 ? 0 : 2500);
        
        // 3) 최종 결제 금액 계산
        totalPrice = totalCartPrice + postFee;
        
        //  출력
       	$('#itemsPrice').text(totalCartPrice + '원'); 
       	$('#postFee').text(postFee + '원'); 
       	$('#totalPrice').text(totalPrice + '원'); 
    });
});
</script>

<!-- 장바구니에서 제품 삭제하는 함수 -->
<script th:inline="javascript">
	
	<!-- csrf 토큰을 JavaScript 변수로 저장 -->
	var csrfToken = [[${_csrf.token}]];
	var csrfHeader = [[${_csrf.headerName}]];


	$('#itemDeleteBtn').on('click', () => {
	    var selectedCartNo = []; // 선택된 cart.no 값을 저장할 배열
	    
	    // 체크박스에 체크표시된 행의 cart.no 값을 배열에 저장
	    $('[data-cart-no]').each(function() {  
	        if ($(this).hasClass('fa-solid')) { 
	            selectedCartNo.push($(this).attr('data-cart-no'));
	        }
	    });

	    // 체크박스에 표시된 행의 개수 
	    var count = selectedCartNo.length;
	    
		// 배열 요소를 쉼표로 구분한 문자열로 변환
     	var cartNo = selectedCartNo.join(',');
		
	    // 체크 여부 확인하여 삭제 로직 수행
	    if (count > 0) {
	        if(confirm('선택하신 ' + count + '개 상품을 장바구니에서 삭제하시겠습니까?')){
	        	$.ajax({
			        type: 'POST',
			        url: '/myPage/cart/delete', // API 엔드포인트
			        data: cartNo, 
	                contentType: 'application/json;charset=UTF-8', // 데이터 형식 설정
	                beforeSend: function(xhr) {
		                // 요청을 보내기 전, CSRF 토큰을 헤더에 설정
		                xhr.setRequestHeader(csrfHeader, csrfToken);
		            },
			        success: function (obj) {
			            // 서버에서 반환한 JSON 데이터 처리
			            if (obj.message === "성공") {
			                // 장바구니 제품 삭제 성공시 알림 메세지를 띄운 후 장바구니 페이지 로드ㄴ
			               alert('삭제되었습니다.');
			               window.location.href="/myPage/cart";
			            } else {
			                // 장바구니 제품 삭제 실패시
			                alert("정상적으로 처리되지 않았습니다.");
			            }
			        },
			        error: function (error) {
			            console.error('삭제 중 오류가 발생하였습니다 :', error);
			        },
			    });
	        }
	    } else {
	        alert('삭제하실 상품을 선택해 주세요.');
	    }
	});
</script>

<!-- 장바구니에서 제품 주문하는 함수 -->
<script th:inline="javascript">
	
	<!-- csrf 토큰을 JavaScript 변수로 저장 -->
	var csrfToken = [[${_csrf.token}]];
	var csrfHeader = [[${_csrf.headerName}]];
	var cartLists = [[${cartLists}]];

	// 선택 주문
	$('#selectedItemOrderBtn').on('click', () => {
	    var selectedCartNo = []; // 선택된 cart.no 값을 저장할 배열
	    
	    // 체크박스에 체크표시된 행의 cart.no 값을 배열에 저장
	    $('[data-cart-no]').each(function() {  
	        if ($(this).hasClass('fa-solid')) { 
	            selectedCartNo.push($(this).attr('data-cart-no'));
	        }
	    });

	    // 체크박스에 표시된 행의 개수 
	    var count = selectedCartNo.length;

	    // 배열 요소를 쉼표로 구분한 문자열로 변환
		var cartNo = selectedCartNo.join(',');
		
        // 파라미터 전달 값
	    // 1. 선택된 cart.no
		// 2. 총 결제금액(cart.price * cart.quantity 합계)
		var totalPriceText = $('#totalPrice').text(); 
		var totalPrice = parseInt(totalPriceText);  // 문자열을 숫자로 변환
		
	    // 체크 여부 확인하여 주문 로직 수행
	    if (count > 0) {
	        if(confirm('선택하신 ' + count + '개 상품을 주문하시겠습니까?')){
				// cart.no값과 totalPrice값을 pay 컨트롤러로 전달
				// GET 요청으로 /pay 컨트롤러로 이동
          //  window.location.href = "/pay?cartNo=" + cartNo + "&totalPrice=" + totalPrice;
				console.log(cartNo, totalPrice);
				// AJAX POST 요청
	            $.ajax({
	            	type: 'POST',
	                url: '/pay',
	                data: {
	                	cartNo: cartNo,
	                	totalPrice: totalPrice
	                }, 
	                beforeSend: function(xhr) {
		                // 요청을 보내기 전, CSRF 토큰을 헤더에 설정
		                xhr.setRequestHeader(csrfHeader, csrfToken);
		            },
	                success: function () {
	                	window.location.href="/pay";
	                },
	                error: function (error) {
	                    // 오류 시 처리할 내용
	                    console.error('주문서 제출 중 오류 발생:', error);
	                },
	            });
	        }
	    } else {
	        alert('주문하실 상품을 선택해 주세요.');
	    }
	});
	
	// 전체 주문 
	$('#itemOrderBtn').on('click', () => {
		// cartLists 내의 모든 cart.no값 저장
	    var cartNo = cartLists.map(function(cart) {
	        return cart.no;
	    }).join(',');
		
	    var postFee = totalCartPrice >= 30000 ? 0 : (totalCartPrice === 0 ? 0 : 2500);
	   
	    // 2. 총 결제금액(cart.price * cart.quantity 합계)
	    var totalCartPrice = cartLists.reduce(function (total, cart) {
	        return total + (cart.price * cart.quantity);
	    }, 0);
	    
	    var totalPrice = totalCartPrice >= 30000 ? totalCartPrice : (totalCartPrice + 2500);
   
        if(confirm('전체 상품을 주문하시겠습니까?')){
			// cart.no값과 totalPrice값을 pay 컨트롤러로 전달
			// AJAX POST 요청
            $.ajax({
            	type: 'POST',
                url: '/pay',
                data: {
                	cartNo: cartNo,
                	totalPrice: totalPrice
                }, 
               // dataType: 'json',
                beforeSend: function(xhr) {
	                // 요청을 보내기 전, CSRF 토큰을 헤더에 설정
	                xhr.setRequestHeader(csrfHeader, csrfToken);
	            },
                success: function () {
                	window.location.href="/pay";
                },
                error: function (error) {
                    // 오류 시 처리할 내용
                    console.error('주문서 제출 중 오류 발생:', error);
                },
            });
        }
	});
</script>

</div>
</html>