<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default_layout}">
<head>
    <th:block th:with="pageName='orderList'"></th:block>
    <!-- myPage.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </th:block>
</head>
<body>
    <!-- Content -->
    <div layout:fragment="content">
	 	<div id="content-background">
	  <form class="container" action="/myPage/orderList" method="GET">
	  <div class="table-div">
	    <table class="table table pull-right" style="margin-top: 50px;" >
		  <thead>		  	
		    <tr class="border-bottom" >
		      <th scope="col" colspan="6" class="th-custom-style" style="border-bottom-width: 3px;
				  border-bottom-color: #082f1c;
				  color: #082f1c;">주문 내역
			  </th>
			 </tr>
	 	  </thead>

		  <tbody>
		  	    <tr style="text-align: center;">
		  	    	<th colspan="2" style="width:50%;">상품정보</th>
					<th>결제액</th>
					<th>수량</th>
					<th>주문일자</th>
					<th>배송상태</th>
				</tr>
				<!-- 결제내역에 내용이 없는 경우 -->
				<tr th:if="${#lists.isEmpty(orderLists)}" class="tb-style-none">
			        <td colspan="6" style="text-align: center;">결제된 내역이 없습니다. <br> 1:1 문의 게시판을 이용해 주세요.</td>
			    </tr>
			    
			    <!-- 결제내역에 내용이 있는 경우 -->
			    <tr th:if="${not #lists.isEmpty(orderLists)}">
                       <td th:text="${orderList.productNo}"></td>
			        <td th:text="${orderList.paymentNo}" style="text-align:left; width:60%;"></td>
			        <td th:text="${orderList.quantity}"></td>
			        <td th:text="${#dates.format(orderList.orderDate, 'yyyy-MM-dd')}"></td>
			        <td th:text="${orderList.status}"></td>
                    </tr>
			    
			    <!-- 메인버튼 -->
				<tr style="text-align: center;">
					<td colspan="7" style="border-color: white;">
				        <a class="btn btn-outline-secondary" th:href="@{/}">메인으로</a>
					</td>
				</tr>
		  </tbody>
	  </table>
	</div>
	</form>
   	</div>
</div>
</body>
</html>