<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block th:with="pageName='kitchen'"></th:block>      
<!-- kitchen.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/page/kitchen.css}" >
</th:block>
<!-- kitchen.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:src="@{/js/page/kitchen.js}"></script>
</th:block>

<!-- Content -->
<div layout:fragment="content">
	<div id="content1">
		<ul id="kitchen">
			<p>여기느 ㄴ주방용품작품입니다.</p>
			<li><a href="#"><img src="../images/home11.PNG" style="width: 100px"><span>섬유탈취제 & 섬유향수 <br> <strike>28,000원</strike> &rarr; 19,600원</span></a></li>
		</ul>
	</div>

   <h5> kitchen.html > Content </h5>
</div>
</html>