<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hm.forest.board.model.mapper.BoardMapper">

	<resultMap id="boardResultMap" type="Board">
		<id property="no" column="NO"/>
		<result property="type" column="TYPE"/>
		<result property="writerNo" column="WRITER_NO"/>
		<result property="writerId" column="ID"/>
		<result property="title" column="TITLE"/>
		<result property="content" column="CONTENT"/>
		<result property="content2" column="CONTENT2"/>
		<result property="originalFilename" column="ORIGINAL_FILENAME"/>
		<result property="renamedFilename" column="RENAMED_FILENAME"/>
		<result property="readCount" column="READCOUNT"/>
		<result property="status" column="STATUS"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
	</resultMap>
	
	<select id="selectBoardCountByType" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD 
		WHERE  STATUS = 'Y' AND TYPE = #{type}
	</select>
	
	<select id="selectBoardListsByType" parameterType="string" resultMap="boardResultMap">
		SELECT B.NO, 
			   B.TYPE, 
			   B.WRITER_NO, 
			   M.ID,
			   B.TITLE, 
			   B.CONTENT, 
			   B.CONTENT2, 
			   B.ORIGINAL_FILENAME, 
			   B.RENAMED_FILENAME, 
			   B.READCOUNT, 
			   B.STATUS, 
			   B.CREATE_DATE, 
			   B.MODIFY_DATE
		FROM BOARD B
		INNER JOIN MEMBER M ON (B.WRITER_NO = M.NO)
		WHERE  B.STATUS = 'Y' AND B.TYPE = #{type}
		ORDER BY B.NO DESC
	</select>
	
	<select id="selectBoardByNo" parameterType="_int" resultMap="boardResultMap">
		SELECT B.NO, 
			   B.TYPE, 
			   B.WRITER_NO, 
			   M.ID,
			   B.TITLE, 
			   B.CONTENT, 
			   B.CONTENT2, 
			   B.ORIGINAL_FILENAME, 
			   B.RENAMED_FILENAME, 
			   B.READCOUNT, 
			   B.STATUS, 
			   B.CREATE_DATE, 
			   B.MODIFY_DATE
		FROM BOARD B
		INNER JOIN MEMBER M ON (B.WRITER_NO = M.NO)
		WHERE  B.STATUS = 'Y' AND B.NO = #{no}
	</select>
	
</mapper>