<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
  
<mapper namespace="com.hm.forest.admin.model.mapper.AdminMapper">

	<sql id="productListSql">
	   SELECT  NO, 
			   CATEGORY, 
			   NAME,
			   PRICE, 
			   CONTENT,
			   COLOR, 
			   AMOUNT, 
			   SIZE_SML, 
			   STOCK, 
			   COMPANY, 
			   DISCOUNTRATE, 
			   STATUS, 
			   IMAGE, 
			   WISH
		FROM PRODUCT
		WHERE STATUS = 'Y' 
		</sql>



		<resultMap id="productResultMap" type="Product">
		<id property="no" column="NO"/>
		<result property="category" column="CATEGORY"/>
		<result property="name" column="NAME"/>
		<result property="price" column="PRICE"/>
		<result property="content" column="CONTENT"/>
		<result property="color" column="COLOR"/>
		<result property="amount" column="AMOUNT"/>
		<result property="sizeSml" column="SIZE_SML"/>
		<result property="stock" column="STOCK"/>
		<result property="company" column="COMPANY"/>
		<result property="discountrate" column="DISCOUNTRATE"/>
		<result property="status" column="STATUS"/>
		<result property="image" column="IMAGE"/>
		<result property="wish" column="WISH"/>
	</resultMap>

		<insert id="insertProduct" parameterType="Product">


	  	<selectKey resultType="_int" keyProperty="no" order="BEFORE">
	  	SELECT SEQ_PD_NO.NEXTVAL FROM DUAL
	  	</selectKey>
	
		INSERT INTO PRODUCT (
				NO, 
				CATEGORY,
				NAME, 
				PRICE, 
				CONTENT, 
				COLOR, 
				AMOUNT, 
				SIZE_SML, 
				STOCK, 
				COMPANY, 
				DISCOUNTRATE, 
				IMAGE, 
				WISH
			) VALUES (
				#{no},
				#{category}, 
				#{name}, 
				#{price}, 
				#{content}, 
				#{color}, 
				#{amount}, 
				#{sizeSml}, 
				#{stock}, 
				#{company}, 
				#{discountrate}, 
				#{image}, 
				#{wish}
			)
	</insert>

	<select id="selectProductBoardCount" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT WHERE STATUS = 'Y'
	</select>

	<select id="selectAll" resultMap="productResultMap">
		SELECT NO,
			   CATEGORY, 
			   NAME, 
			   PRICE, 
			   CONTENT, 
			   COLOR,
               AMOUNT,
               SIZE_SML,
               STOCK,
               COMPANY,
               DISCOUNTRATE,
               STATUS,
               IMAGE,
               WISH
		FROM PRODUCT
		WHERE STATUS = 'Y'
		ORDER BY NO DESC
	</select>
	
	
	 <select id="selectProductBoardByNo" parameterType="_int" resultMap="productResultMap">
	 	SELECT NO,
			   CATEGORY, 
			   NAME, 
			   PRICE, 
			   CONTENT, 
			   COLOR,
               AMOUNT,
               SIZE_SML,
               STOCK,
               COMPANY,
               DISCOUNTRATE,
               STATUS,
               IMAGE,
               WISH
		FROM PRODUCT
		WHERE STATUS = 'Y' AND NO = #{no}
	 </select>
	 
	 <update id="updateProduct" parameterType="Product">
		UPDATE PRODUCT
		<trim prefix="SET" suffixOverrides=",">
			<if test="name != null">
				NAME=#{name},
			</if>
			<if test="category != null">
				CATEGORY=#{category},
			</if>
			<if test="price != null">
				PRICE=#{price},
			</if>
			<if test="content != null">
				CONTENT=#{content},
			</if>
			<if test="color != null">
				color=#{color},
			</if>
			<if test="amount != null">
				AMOUNT=#{amount},
			</if>
			<if test="sizeSml != null">
				SIZE_SML=#{sizeSml},
			</if>
			<if test="stock != null">
				STOCK=#{stock},
			</if>
			<if test="status != null">
				STATUS=#{status},
			</if>
			<if test="image != null">
				IMAGE=#{image},
			</if>
		
		</trim>			
		WHERE NO=#{no}
	</update>
	

	<delete id="updateProductStatus" parameterType="map">
		UPDATE PRODUCT 
		SET
			STATUS = #{status}
		WHERE NO = #{no}
    </delete>


    <!-- 카테고리별 제품 전체 리스트 조회 -->
	<select id="selectProductListByCategory" parameterType="string" resultMap="productResultMap">
		<include refid="productListSql" /> 
		AND CATEGORY = #{category}
		ORDER BY NO DESC
	</select>
	
	<!-- 카테고리별 제품 전체 개수 -->
	<select id="selectProductCountByCategory" resultType="_int">
		SELECT COUNT(*) 
		FROM PRODUCT 
		WHERE STATUS = 'Y' AND CATEGORY =#{category}
	</select>
	

</mapper>