<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
  
<mapper namespace="com.hm.forest.admin.model.mapper.ProgramMapper">

	<sql id="programListSql">
		   SELECT  NO, 
				   TITLE, 
				   PRICE,
				   CATEGORY, 
				   CONTENT,
				   ADDRESS,
				   APPLICATIONS,
				   MAXIMUM,
				   ORIGINAL_FILENAME,
				   RENAMED_FILENAME,
				   START_DATE,
				   EXPIRE_DATE,
				   STATUS
			FROM PROGRAM
			WHERE STATUS = 'Y' 
	</sql>
	
	<resultMap id="programResultMap" type="Program">
		<id property="no" column="NO"/>
		<result property="title" column="TITLE"/>
		<result property="price" column="PRICE"/>
		<result property="category" column="CATEGORY"/>
		<result property="content" column="CONTENT"/>
		<result property="address" column="ADDRESS"/>
		<result property="applications" column="APPLICATIONS"/>
		<result property="maximum" column="MAXIMUM"/>
		<result property="originalFilename" column="ORIGINAL_FILENAME"/>
		<result property="renamedFilename" column="RENAMED_FILENAME"/>
		<result property="startDate" column="START_DATE"/>
		<result property="expireDate" column="EXPIRE_DATE"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<insert id="insertProgram" parameterType="Program">

	  	<selectKey resultType="_int" keyProperty="no" order="BEFORE">
	  	SELECT SEQ_PG_NO.NEXTVAL FROM DUAL
	  	</selectKey>
	
		INSERT INTO PROGRAM (
			   NO, 
			   TITLE, 
			   PRICE,
			   CATEGORY, 
			   CONTENT,
			   ADDRESS,
			   APPLICATIONS,
			   MAXIMUM,
			   ORIGINAL_FILENAME,
			   RENAMED_FILENAME
			) VALUES (
				#{no},
				#{title}, 
				#{price}, 
				#{category}, 
				#{content}, 
				#{address}, 
				#{applications}, 
				#{maximum}, 
				#{originalFilename}, 
				#{renamedFilename} 
			)
	</insert>
	
	<select id="selectProgramBoardCount" resultType="_int">
		SELECT COUNT(*) FROM PROGRAM WHERE STATUS = 'Y'
	</select>
	
	<select id="selectAll" resultMap="programResultMap">
		SELECT NO, 
			   TITLE, 
			   PRICE,
			   CATEGORY, 
			   CONTENT,
			   ADDRESS,
			   APPLICATIONS,
			   MAXIMUM,
			   ORIGINAL_FILENAME,
			   RENAMED_FILENAME,
			   START_DATE,
			   EXPIRE_DATE,
			   STATUS 
		FROM PROGRAM
		WHERE STATUS = 'Y'
		ORDER BY NO DESC
	</select>

	

</mapper>