<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
      
<!-- csrf 토큰을 비동기통신으로 넘기기 위한 설정 -->
<meta th:name="_csrf_header" th:content="${_csrf.headerName}">
<meta th:name="_csrf" th:content="${_csrf.token}">

<th:block th:with="pageName='cart'"></th:block>      
<th:block layout:fragment="css">

</th:block>
<!-- cart.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!-- 이모티콘 -->
    <script src="https://kit.fontawesome.com/74362490cf.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</th:block>

<!-- Content -->
<div layout:fragment="content">
	<div class="maysum" style="margin-top: 20px; text-align: center;" >
        <!--h3>상품상세정보</h3-->
        <img src="https://imgs.softwrap.co.kr/neogift/img_model/img_content/53132.jpg" style=" width: 1100px;">
    </div>
</div>