<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block th:with="pageName='productMgmtList'"></th:block>      
<!-- productMgmtList.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>
	
<th:block layout:fragment="script">
</th:block>

<!-- Content -->
<div layout:fragment="content">


		<div class="content">
			<h1 class="page-header">판매중인 제품 목록 리스트</small></h1>
			<div class="row products">
             
				<li><div class="scale col-sm-6 col-md-4">
					<a class="thumbnail" href="/displayFile?filename=${imgLink}"><img src="${img}"></a>
						<div class="caption">
				  <tr style="text-align: center;">
					<th>제목</th>
					<th>제목</th>
					</tr>
				
					<tr class="clickable-row" style="text-align: center;" th:each="product : ${productlists}" th:attr="data-href=@{/admin/productMgmtView?no={no}(no=${product.no})}">
			        <td th:text="${product.name}"></td>
			        <td th:text="${product.name}" style="text-align:left; width:60%;"></td>  
							<p><a href="#" class="btn btn-primary" role="button">구입하기</a> 
								<a href="#" class="btn btn-default" role="button">장바구니</a></p>
						</div>
					</div>
				</li>
			</div>
          
		</div>
 
 





  <div class="table-div">
	  <table class="table table table-hover">
		  <thead>
		    <tr class="border-bottom" >
		      <th scope="col" colspan="5" class="th-custom-style" style="border-bottom-width: 3px; 
				  border-bottom-color: #082f1c;
				  color: #082f1c;">등록한 제품 목록
			  	<button class="btn btn-sm btn-outline-secondary" type="button" onclick="redirectToWrite('productMgmt')">글쓰기</button>
			  </th>
		    </tr>
		  </thead>
		  
		  <tbody>
		  	    <tr style="text-align: center;">
					<th>번호</th>
					<th>제목</th>
				</tr>
				<tr class="clickable-row" style="text-align: center;" th:each="product : ${productlists}" th:attr="data-href=@{/admin/productMgmtView?no={no}(no=${product.no})}">
			        <td th:text="${product.no}"></td>
			        <td th:text="${product.name}" style="text-align:left; width:60%;"></td>   
			    </tr>

		  </tbody>
	  </table>
	</div>

	  
	<!-- Pagination -->
	<div class="table-div">
		<div id="pageBar">
		  
		    <!-- 이전 페이지로 -->
		    <i class="fa-sharp fa-regular fa-angle-left" style="color: #0f5132;"></i>
		    <a class="a-pagination-move" th:href="@{/admin/productMgmtList(page=${pageInfo.prevPage})}" th:text="'&lt;'" style="color: #082f1c;"></a>

		    <!-- 10개 페이지 목록 -->
			<span th:each="pageNumber : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
			    <a class="a-pagination current-page" th:if="${pageNumber == pageInfo.currentPage}" disabled="disabled" th:text="${pageNumber}"></a>
			    <a class="a-pagination" th:unless="${pageNumber == pageInfo.currentPage}" th:href="@{/admin/productMgmtList(page=${pageNumber})}" th:text="${pageNumber}"></a>
			</span>
		
		    <!-- 다음 페이지로 -->
		    <a class="a-pagination-move" th:href="@{/admin/productMgmtList(page=${pageInfo.nextPage})}" th:text="'&gt;'" style="color: #082f1c;"></a>
		   
		</div>
	</div>

	
	
	<script> 
		    var rows = document.querySelectorAll(".clickable-row");
		    rows.forEach(function(row) {
		        row.addEventListener("click", function() {
		            var href = row.getAttribute("data-href");
		            if (href) {
		                window.location.href = href;
		            }
		        });
		    });

	</script>
</div>

</html>