<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block th:with="pageName='productMgmt'"></th:block>      
<!-- productMgmt.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!-- ex)   <link rel="stylesheet" th:href="@{/css/page/producstMgmt.css}" >-->
</th:block>
<!-- productMgmt.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!-- ex)  <script th:src="@{/js/page/productMgmt.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
<div class="table-div">
  <table class="table">
	  <thead>
	    <tr class="border-bottom" >
	      <th scope="col" colspan="4" class="th-custom-style" style="border-bottom-width: 3px; 
	border-bottom-color: #082f1c;
	color: #082f1c;">제품등록</th>
	    </tr>
	  </thead>
	  
	  <tbody>
	    <tr>
	      <th scope="row">제품명</th>
	      <td colspan="3"> <input type="text"> </td>
	    </tr>
	    <tr>
	      <th scope="row">판매가</th>
	      <td colspan="3"> <input type="text"> </td>
	    </tr>
	    <tr>
	      <th scope="row">재고수량</th>
	      <td colspan="3"> <input type="number"> </td>
	    </tr>
	    <tr>
	      <th scope="row">설명</th>
	      <td colspan="3"> <input type="text"> </td>
	    </tr>
	    <tr>
	      <th scope="row">대표이미지</th>
	      <td colspan="3"> <input type="file"> </td>
	    </tr>
	    <tr>
	      <th scope="row">상세이미지</th>
	      <td colspan="3"> <input type="file"> </td>
	    </tr>
	    <tr>
	      <th></th>
	      <td> 
		      <input type="submit" value="등록">
		      <input type="reset" value="취소">
	      </td>
	      </tr>
	  </tbody>
</table>
</div>
</div>
</html>