<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block th:with="pageName='productMgmt'"></th:block>      
<!-- productMgmt.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
<!-- ex)   <link rel="stylesheet" th:href="@{/css/page/producstMgmt.css}" >-->

<!-- ckeditor 
<link rel="stylesheet" th:href="@{/resources/static/css/ckeditor.css}" type="text/css">
-->
 

<script src="/js/ckeditor/ckeditor.js"></script>

<script src="/js/jquery-3.7.0.min.js"></script>

<style>
	.table > th {
		width: 25%;
	}

	.ck.ck-editor {
		width: 650px;
		max-width: px;
		
	}

	.ck-editor__editable {
		height: 50vh;
	}


</style>

</th:block>
<!-- productMgmt.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!-- ex)  <script th:src="@{/js/page/productMgmt.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
<form class="container" action="/admin/productMgmt/insert" method="post" th:action="@{/admin/productMgmt/insert}">
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

<div class="table-div">
  <table class="table">
	  <thead>
	    <tr class="border-bottom" >
	      <th scope="col" colspan="2" class="th-custom-style" style="border-bottom-width: 3px; 
				border-bottom-color: #082f1c;
				color: #082f1c;">제품등록</th>
	    </tr>
	  </thead>
	  
	  <tbody>
	    <tr>
	      <th scope="row">카테고리</th>
	      <td>
	      	<select id="category" name="category">
			    <option value="" selected>--- 선택 ---</option>
			    <option value="kitchen">주방</option>
			    <option value="option2">옵션 2</option>
			    <option value="option3">옵션 3</option>
		    </select>
		 </td>
	    </tr>
	    <tr>
	      <th scope="row">제품명</th>
	      <td><input type="text" id="name" name="name"></td>
	    </tr>
	    <tr>
	      <th scope="row">판매가</th>
	      <td><input type="text" id="price" name="price"> </td>
	    </tr>
	    <tr>
	      <th scope="row">제품색상</th>
	      <td><input type="text" id="color" name="color"></td>
	    </tr>
	    <tr>
	      <th scope="row">제품수량</th>
	      <td><input type="number" min="0" id="amount" name="amount"></td>
	    </tr>
	    <tr>
	      <th scope="row" id="sizeSml" name="sizeSml">제품사이즈</th>
	      <td>
	      	<select id="sizeSml" name="sizeSml" >
			    <option value="" selected>--- 선택 ---</option>
			    <option value="S">S</option>
			    <option value="M">M</option>
			    <option value="L">L</option>
		    </select>
		  </td>
	    </tr>
	    <tr>
	      <th scope="row">설명</th>
	      <td><textarea rows="3" cols="100" resize="none" id="content" class="editor" name="content"></textarea></td>
	    </tr>
	    <tr>
	      <th scope="row" id="image" name="image">대표이미지</th>
	      <td> <input type="file" id="image" name="image"></td>
	    </tr>
	    <tr>
	      <th scope="row" >상세이미지</th>
	      <td><input type="file"></td>
	    </tr>
	   <th scope="row" id="status" name="status">판매상태</th>
	      <td>
	      	<select id="status" name="status" >
			    <option value="" selected>--- 선택 ---</option>
			    <option value="Y">판매중</option>
			    <option value="N">품절</option>
		    </select>
		  </td>
	    </tr>
	    <tr>
	      <th></th>
	      <td> 
		      <input type="submit" id="btnInsert"value="등록">
		      <input type="reset" id="btnDelete" value="삭제">
		      <input type="reset" value="취소">
		      
	      </td>
	      </tr>
	  </tbody>
	  </table>

</div>
</form>


<!-- CKEditor 
	<script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
	<script>		
	ClassicEditor
	.create(document.querySelector('#editor'))
	.then(editor => {
		console.log('Editor was initialized');
	})
	.catch(error => {
		console.error(error);
	});
</script>
 -->

<script src="/js/ckeditor/script.js"></script>

<!-- 등록버튼 누르면 ajax로 처리 -->
<script>
$(document).ready(function() {
    $('#btnInsert').click(function(e) {
        e.preventDefault(); 

        var formData = $('form').serialize();

        $.ajax({
            type: 'POST',
            url: '/admin/productMgmt/insert',
            data: formData,
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.error(error);
            }
        });
    });
</script>


</html>